{{#partial "page"}}
    <div class="page-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            </div>
            <div class="page page-normal page-errors">
                <div class="page-header">
                    <h1 class="page-heading">
                        <span class="heading">{{lang 'page_not_found.heading'}}</span>
                        <span class="text">{{lang 'page_not_found.page_heading'}}</span>
                    </h1>
                </div>
                <main class="page-content">
                    <p class="page-normal-text u-textAlignCenter">
                        {{lang 'page_not_found.message'}}
                    </p>
                    {{> components/common/search-box}}
                </main>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
