<div class="previewCart">
    {{#if cart.items.length}}
        <div class="previewCartHeader">
            <span class="text">
                <span>{{lang 'cart.items' NUM=cart.quantity}}</span>
            </span>
        </div>
    {{/if}}
    {{#and (if theme_settings.halo_shipping) (if cart.items.length)}}
        <div class="halo-free-shipping-message animated-loading">
            <div class="progress-shipping" role="progressbar">
                <div class="progress-meter" style="width: 0"></div>
            </div>
            <div class="shipping-message">
                <span class="message"></span>
                <span class="progress-percent">0%</span>
            </div>
        </div>
    {{/and}}
    {{#if cart.items.length}}
        <ul class="previewCartList" data-cart-quantity="{{cart.quantity}}">
            {{#each cart.items}}
                <li class="previewCartItem" {{#if options}}data-cart-edit-productItem{{/if}}>
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                fallback_size=../../theme_settings.productcartthumb_size
                                lazyload=../../theme_settings.lazyload_mode
                                default_image=../../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </div>
                    <div class="previewCartItem-content">
                        <h6 class="previewCartItem-name">
                            {{#if ../theme_settings.halo_card_title '==' 'ellipsis'}}
                                <a href="{{url}}" alt="{{name}}" title="{{name}}" style="-webkit-box-orient: vertical;">
                                    <span>{{name}}</span>
                                </a>
                            {{else}}
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">
                                    <span>{{name}}</span>
                                </a>
                            {{/if}}
                        </h6>
                        {{#if options}}
                            <div class="previewCartItem-options">
                                <span class="previewCartItem-variant">
                                    {{#each options}}
                                        <span>{{{ sanitize value}}}</span>
                                    {{/each}}
                                </span>
                                {{#if ../theme_settings.halo_QuickEditCart}}
                                    <a href="#" class="previewCartItem-edit"  data-cart-edit-id="{{product_id}}" data-cart-itemid="{{id}}" data-cart-edit-price="{{price.formatted}}" data-cart-edit-quantity="{{quantity}}">
                                        <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                                    </a>
                                {{/if}}
                            </div>
                        {{/if}}
                        <span class="previewCartItem-price">
                            {{#or ../customer (unless ../settings.hide_price_from_guests)}}
                                <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                {{#if price_discounted}}
                                    {{price_discounted.formatted}}
                                {{/if}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </span>
                        <div class="previewCartItem-qty">
                            <label class="form-label" for="qty-{{id}}">{{lang 'products.quantity'}}</label>
                            <div class="form-increment">
                                <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                    <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                </button>
                                <input class="form-input form-input--incrementTotal"
                                    id="qty-{{id}}"
                                    name="qty-{{id}}"
                                    type="number"
                                    value="{{quantity}}"
                                    data-quantity-min="{{min_purchase_quantity}}"
                                    data-quantity-max="{{max_purchase_quantity}}"
                                    data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                    data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                    min="1"
                                    pattern="[0-9]*"
                                    data-cart-itemid="{{id}}"
                                    data-action="manualQtyChange"
                                    aria-live="polite"{{#unless can_modify}} disabled{{/unless}}
                                    >
                                <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                    <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                </button>
                            </div>
                        </div>
                        
                        {{#or can_modify (if type '==' 'GiftCertificate')}}
                            <button class="previewCartItem-remove icon"
                                data-cart-itemid="{{id}}"
                                data-confirm-delete="{{lang 'cart.confirm_delete'}}"
                                aria-label="{{lang 'cart.remove_item' name=name}}"
                            >
                                <svg class="icon"><use xlink:href="#icon-close"></use></svg>
                            </button>
                        {{/or}}
                    </div>
                </li>
            {{/each}}
        </ul>
        <ul class="previewCartTotalsPrice">
            <li class="previewCartTotals subTotal">
                <div class="previewCartTotals-label">
                    {{lang 'cart.checkout.subtotal'}}:
                </div>
                <div class="previewCartTotals-value">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{cart.sub_total.formatted}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
            </li>
            <li class="previewCartTotals grandTotal">
                <div class="previewCartTotals-label">
                    {{lang 'cart.checkout.grand_total'}}:
                </div>
                <div class="previewCartTotals-value cart-total-grandTotal">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        <span>{{cart.grand_total.formatted}}</span>
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
            </li>
        </ul>
        <div class="previewCartAction">
            {{#if cart.show_primary_checkout_button}}
                <div class="previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="button button--checkout">
                        {{lang 'cart.preview.checkout_now'}}
                    </a>
                </div>
            {{/if}}

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}

            <div class="previewCartAction-viewCart">
                <a href="{{urls.cart}}" class="button button--primary ">
                    {{lang 'cart.preview.view_cart'}}
                </a>
            </div>
        </div>
        {{#if cart.additional_checkout_buttons}}
            <div class="previewCart-additionalCheckoutButtons">
                {{#each cart.additional_checkout_buttons}}
                    {{{this}}}
                {{/each}}
            </div>
        {{/if}}
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
