{{#if type '==' 'style-1'}}
    <nav class="navUser">
        <div class="item--quicksearch halo-search halo-search-main">
            <div id="quickSearch" class="quickSearch">
                {{> components/common/quick-search name='quick_search_header'}}
            </div>
        </div>
    </nav>
{{/if}}

{{#if type '==' 'style-2'}}
    <nav class="navUser">
        <ul class="navUser-section navUser-section--alt">
            <li class="navUser-item navUser-item--account">
                <div class="navUser-item__item">
                    <a class="navUser-action" {{#if customer}}href="{{urls.account.index}}"{{else}}href="{{urls.auth.login}}"{{/if}} aria-label="{{lang 'common.login'}}" data-login-form>
                        <svg class="icon" role="img" aria-label="{{lang 'common.account'}}">
                            <title>{{lang 'common.account'}}</title>
                            <desc>{{lang 'common.account'}}</desc>
                            <use xlink:href="#icon-user-2"></use>
                        </svg>
                    </a>
                </div>
            </li>
            {{#if settings.show_wishlist}}
                <li class="navUser-item navUser-item--wishlist">
                    <div class="navUser-item__item">
                        <a class="navUser-action" href="{{urls.account.wishlists.all}}">
                            <div class="navUser-icon">
                                <svg class="icon" role="img" aria-label="{{lang 'account.wishlists.heading'}}">
                                    <title>{{lang 'account.wishlists.heading'}}</title>
                                    <desc>{{lang 'account.wishlists.heading'}}</desc>
                                    <use xlink:href="#icon-heart"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </li>
            {{/if}}
            <li class="navUser-item navUser-item--cart">
                <a class="navUser-action" data-cart-preview data-options="align:right" href="{{urls.cart}}" aria-label="{{lang 'cart.nav_aria_label'}}">
                    <span class="navUser-item-cartLabel">
                        <svg class="icon" role="img" aria-label="{{lang 'cart.cart_preview'}}">
                            <title>{{lang 'cart.cart_preview'}}</title>
                            <desc>{{lang 'cart.cart_preview'}}</desc>
                            <use xlink:href="#icon-cart-2"></use>
                        </svg>
                    </span>
                    <span class="countPill cart-quantity">{{cart.quantity}}</span>
                </a>
                <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
            </li>
            {{#if theme_settings.haloLiveHelp}}
                <li class="navUser-item navUser-item--liveHelp">
                    <a class="navUser-action" href="#" data-header-liveHelp>
                        <div class="navUser-icon">
                            <svg class="icon" role="img" aria-label="{{lang 'common.live_help'}}">
                                <title>{{lang 'common.live_help'}}</title>
                                <desc>{{lang 'common.live_help'}}</desc>
                                <use xlink:href="#icon-headphone"></use>
                            </svg>
                        </div>
                    </a>
                    <div id="dropdown-liveHelp" class="halo-liveHelp halo-live-help halo-liveHelp-top" aria-hidden="true">
                        <div class="halo-sidebar-header">
                            <a href="#" class="close" data-close-live-help-popup>
                                <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                                    <title>{{lang 'common.close'}}</title>
                                    <desc>{{lang 'common.close'}}</desc>
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="wrapper halo-liveHelp-wrapper">
                            <div class="halo-liveHelp-ask item-top">
                                <h4>{{theme_settings.haloLiveHelp-heading-1}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc1}}}</p>
                                {{#all (if theme_settings.halo_ask_an_expert) (if theme_settings.halo_ask_an_expert_pagelink)}}
                                    <a class="button button--tertiary ask-an-expert-link" href="#" title="{{lang 'common.ask_an_expert'}}" aria-label="{{lang 'common.ask_an_expert'}}">
                                        <svg class="icon"><use xlink:href="#icon-headphone" /></svg><span class="text">{{lang 'common.ask_an_expert'}}</span>
                                    </a>
                                {{/all}}
                                <span class="text">{{{theme_settings.haloLiveHelp-desc2}}}</span>
                            </div>
                            <div class="halo-liveHelp-contact item-bottom">
                                <h4>{{theme_settings.haloLiveHelp-heading-2}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc3}}}</p>
                                <a class="button button--tertiary contact-us-link" href="{{theme_settings.haloLiveHelp-buttonLink}}" aria-label="Contact Us">
                                    <svg class="icon"><use xlink:href="#icon-email" /></svg><span class="text">{{theme_settings.haloLiveHelp-button}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {{/if}}
            {{#if currency_selector.currencies.length '>' 1}}
                <li class="navUser-item navUser-item--currency">
                    <a class="navUser-action navUser-action--currencySelector has-dropdown"
                       href="#"
                       data-dropdown="currencySelection"
                       aria-controls="currencySelection"
                       aria-expanded="false"
                       aria-label="{{lang 'common.currency' code=currency_selector.active_currency_code}}"
                    >
                        <span class="cur-flag">{{{currency_selector.active_currency_flag}}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </i>
                    </a>
                    <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
                        <li class="dropdown-menu-title">
                            <span class="text">{{lang 'common.select_currency'}}</span>
                        </li>
                        {{#each currency_selector.currencies}}
                            <li class="dropdown-menu-item">
                                <a href="{{{switch_url}}}"
                                   data-currency-code="{{{code}}}"
                                   {{#if cart_currency_switch_url.length '>' 0 }}
                                   data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                                   {{/if}}
                                   data-warning="{{lang 'common.currency_switch_promotion'}}"
                                   {{#if is_active}} class="is-active"{{/if}}
                                >
                                    <span class="flag">{{{flag}}}</span>
                                    <span class="text">{{name}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/if}}

{{#if type '==' 'style-3'}}
    <nav class="navUser">
        {{#if theme_settings.halo_header_customText}}
            <ul class="navUser-section navUser-section--link">
                {{#if theme_settings.halo_header_customText_1}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_1}}"
                           aria-label="{{theme_settings.halo_header_customText_1}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_1}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
                {{#if theme_settings.halo_header_customText_2}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_2}}"
                           aria-label="{{theme_settings.halo_header_customText_2}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_2}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
                {{#if theme_settings.halo_header_customText_3}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_3}}"
                           aria-label="{{theme_settings.halo_header_customText_3}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_3}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
        <ul class="navUser-section navUser-section--alt">
            <li class="navUser-item item--searchMobile">
                <a class="navUser-action" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                    <div class="navUser-icon">
                        <svg class="icon" role="img" aria-label="{{lang 'search.quick_search.input_label'}}">
                            <title>{{lang 'search.quick_search.input_label'}}</title>
                            <desc>{{lang 'search.quick_search.input_placeholder'}}</desc>
                            <use xlink:href="#icon-search-2"></use>
                        </svg>
                    </div>
                    <div class="item--quicksearch halo-search halo-search-main" style="display: none;">
                        <div id="quickSearch" class="quickSearch">
                            {{> components/common/quick-search name='quick_search_header'}}
                        </div>
                    </div>
                </a>
            </li>
            <li class="navUser-item navUser-item--account">
                <div class="navUser-item__item">
                    <a class="navUser-action" {{#if customer}}href="{{urls.account.index}}"{{else}}href="{{urls.auth.login}}"{{/if}} aria-label="{{lang 'common.login'}}" data-login-form>
                        <svg class="icon" role="img" aria-label="{{lang 'common.account'}}">
                            <title>{{lang 'common.account'}}</title>
                            <desc>{{lang 'common.account'}}</desc>
                            <use xlink:href="#icon-user-3"></use>
                        </svg>
                    </a>
                </div>
            </li>
            {{#if settings.show_wishlist}}
                <li class="navUser-item navUser-item--wishlist">
                    <div class="navUser-item__item">
                        <a class="navUser-action" href="{{urls.account.wishlists.all}}">
                            <div class="navUser-icon">
                                <svg class="icon" role="img" aria-label="{{lang 'account.wishlists.heading'}}">
                                    <title>{{lang 'account.wishlists.heading'}}</title>
                                    <desc>{{lang 'account.wishlists.heading'}}</desc>
                                    <use xlink:href="#icon-heart-2"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </li>
            {{/if}}
            <li class="navUser-item navUser-item--cart">
                <a class="navUser-action" data-cart-preview data-options="align:right" href="{{urls.cart}}" aria-label="{{lang 'cart.nav_aria_label'}}">
                    <span class="navUser-item-cartLabel">
                        <svg class="icon" role="img" aria-label="{{lang 'cart.cart_preview'}}">
                            <title>{{lang 'cart.cart_preview'}}</title>
                            <desc>{{lang 'cart.cart_preview'}}</desc>
                            <use xlink:href="#icon-cart-4"></use>
                        </svg>
                    </span>
                    <span class="countPill cart-quantity">{{cart.quantity}}</span>
                </a>
                <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
            </li>
            {{#if theme_settings.haloLiveHelp}}
                <li class="navUser-item navUser-item--liveHelp">
                    <a class="navUser-action" href="#" data-header-liveHelp>
                        <div class="navUser-icon">
                            <svg class="icon" role="img" aria-label="{{lang 'common.live_help'}}">
                                <title>{{lang 'common.live_help'}}</title>
                                <desc>{{lang 'common.live_help'}}</desc>
                                <use xlink:href="#icon-headphone"></use>
                            </svg>
                        </div>
                    </a>
                    <div id="dropdown-liveHelp" class="halo-liveHelp halo-live-help halo-liveHelp-top" aria-hidden="true">
                        <div class="halo-sidebar-header">
                            <a href="#" class="close" data-close-live-help-popup>
                                <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                                    <title>{{lang 'common.close'}}</title>
                                    <desc>{{lang 'common.close'}}</desc>
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="wrapper halo-liveHelp-wrapper">
                            <div class="halo-liveHelp-ask item-top">
                                <h4>{{theme_settings.haloLiveHelp-heading-1}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc1}}}</p>
                                {{#all (if theme_settings.halo_ask_an_expert) (if theme_settings.halo_ask_an_expert_pagelink)}}
                                    <a class="button button--tertiary ask-an-expert-link" href="#" title="{{lang 'common.ask_an_expert'}}" aria-label="{{lang 'common.ask_an_expert'}}">
                                        <svg class="icon"><use xlink:href="#icon-headphone" /></svg><span class="text">{{lang 'common.ask_an_expert'}}</span>
                                    </a>
                                {{/all}}
                                <span class="text">{{{theme_settings.haloLiveHelp-desc2}}}</span>
                            </div>
                            <div class="halo-liveHelp-contact item-bottom">
                                <h4>{{theme_settings.haloLiveHelp-heading-2}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc3}}}</p>
                                <a class="button button--tertiary contact-us-link" href="{{theme_settings.haloLiveHelp-buttonLink}}" aria-label="Contact Us">
                                    <svg class="icon"><use xlink:href="#icon-email" /></svg><span class="text">{{theme_settings.haloLiveHelp-button}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/if}}

{{#if type '==' 'style-4'}}
    <nav class="navUser">
        {{#if theme_settings.halo_header_customText}}
            <ul class="navUser-section navUser-section--link">
                {{#if theme_settings.halo_header_customText_1}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_1}}"
                           aria-label="{{theme_settings.halo_header_customText_1}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_1}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
                {{#if theme_settings.halo_header_customText_2}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_2}}"
                           aria-label="{{theme_settings.halo_header_customText_2}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_2}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
                {{#if theme_settings.halo_header_customText_3}}
                    <li class="navUser-item">
                        <a class="navUser-action"
                           href="{{theme_settings.halo_header_customLink_3}}"
                           aria-label="{{theme_settings.halo_header_customText_3}}"
                        >
                            <span class="text">
                                <span>{{theme_settings.halo_header_customText_3}}</span>
                            </span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
        <ul class="navUser-section navUser-section--alt">
            <li class="navUser-item item--searchMobile">
                <a class="navUser-action" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                    <div class="navUser-icon">
                        <svg class="icon" role="img" aria-label="{{lang 'search.quick_search.input_label'}}">
                            <title>{{lang 'search.quick_search.input_label'}}</title>
                            <desc>{{lang 'search.quick_search.input_placeholder'}}</desc>
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </div>
                    <div class="item--quicksearch halo-search halo-search-main" style="display: none;">
                        <div id="quickSearch" class="quickSearch">
                            {{> components/common/quick-search name='quick_search_header'}}
                        </div>
                    </div>
                </a>
            </li>
            {{#if settings.show_wishlist}}
                <li class="navUser-item navUser-item--wishlist">
                    <div class="navUser-item__item">
                        <a class="navUser-action" href="{{urls.account.wishlists.all}}">
                            <div class="navUser-icon">
                                <svg class="icon" role="img" aria-label="{{lang 'account.wishlists.heading'}}">
                                    <title>{{lang 'account.wishlists.heading'}}</title>
                                    <desc>{{lang 'account.wishlists.heading'}}</desc>
                                    <use xlink:href="#icon-heart"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </li>
            {{/if}}
            <li class="navUser-item navUser-item--cart">
                <a class="navUser-action" data-cart-preview data-options="align:right" href="{{urls.cart}}" aria-label="{{lang 'cart.nav_aria_label'}}">
                    <span class="navUser-item-cartLabel">
                        <svg class="icon" role="img" aria-label="{{lang 'cart.cart_preview'}}">
                            <title>{{lang 'cart.cart_preview'}}</title>
                            <desc>{{lang 'cart.cart_preview'}}</desc>
                            <use xlink:href="#icon-cart-3"></use>
                        </svg>
                    </span>
                    <span class="countPill cart-quantity">{{cart.quantity}}</span>
                </a>
                <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
            </li>
            {{#if theme_settings.haloLiveHelp}}
                <li class="navUser-item navUser-item--liveHelp">
                    <a class="navUser-action" href="#" data-header-liveHelp>
                        <div class="navUser-icon">
                            <svg class="icon" role="img" aria-label="{{lang 'common.live_help'}}">
                                <title>{{lang 'common.live_help'}}</title>
                                <desc>{{lang 'common.live_help'}}</desc>
                                <use xlink:href="#icon-headphone"></use>
                            </svg>
                        </div>
                    </a>
                    <div id="dropdown-liveHelp" class="halo-liveHelp halo-live-help halo-liveHelp-top" aria-hidden="true">
                        <div class="halo-sidebar-header">
                            <a href="#" class="close" data-close-live-help-popup>
                                <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                                    <title>{{lang 'common.close'}}</title>
                                    <desc>{{lang 'common.close'}}</desc>
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="wrapper halo-liveHelp-wrapper">
                            <div class="halo-liveHelp-ask item-top">
                                <h4>{{theme_settings.haloLiveHelp-heading-1}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc1}}}</p>
                                {{#all (if theme_settings.halo_ask_an_expert) (if theme_settings.halo_ask_an_expert_pagelink)}}
                                    <a class="button button--tertiary ask-an-expert-link" href="#" title="{{lang 'common.ask_an_expert'}}" aria-label="{{lang 'common.ask_an_expert'}}">
                                        <svg class="icon"><use xlink:href="#icon-headphone" /></svg><span class="text">{{lang 'common.ask_an_expert'}}</span>
                                    </a>
                                {{/all}}
                                <span class="text">{{{theme_settings.haloLiveHelp-desc2}}}</span>
                            </div>
                            <div class="halo-liveHelp-contact item-bottom">
                                <h4>{{theme_settings.haloLiveHelp-heading-2}}</h4>
                                <p class="desc">{{{theme_settings.haloLiveHelp-desc3}}}</p>
                                <a class="button button--tertiary contact-us-link" href="{{theme_settings.haloLiveHelp-buttonLink}}" aria-label="Contact Us">
                                    <svg class="icon"><use xlink:href="#icon-email" /></svg><span class="text">{{theme_settings.haloLiveHelp-button}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {{/if}}
            {{#if currency_selector.currencies.length '>' 1}}
                <li class="navUser-item navUser-item--currency">
                    <a class="navUser-action navUser-action--currencySelector has-dropdown"
                       href="#"
                       data-dropdown="currencySelection"
                       aria-controls="currencySelection"
                       aria-expanded="false"
                       aria-label="{{lang 'common.currency' code=currency_selector.active_currency_code}}"
                    >
                        <span class="cur-flag">{{{currency_selector.active_currency_flag}}}</span>
                        <span class="cur-code">{{currency_selector.active_currency_code}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </i>
                    </a>
                    <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
                        <li class="dropdown-menu-title">
                            <span class="text">{{lang 'common.select_currency'}}</span>
                        </li>
                        {{#each currency_selector.currencies}}
                            <li class="dropdown-menu-item">
                                <a href="{{{switch_url}}}"
                                   data-currency-code="{{{code}}}"
                                   {{#if cart_currency_switch_url.length '>' 0 }}
                                   data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                                   {{/if}}
                                   data-warning="{{lang 'common.currency_switch_promotion'}}"
                                   {{#if is_active}} class="is-active"{{/if}}
                                >
                                    <span class="flag">{{{flag}}}</span>
                                    <span class="text">{{name}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/if}}
