{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_amazonpay show_accept_googlepay show_accept_klarna show_accept_cirrus show_accept_western_union}}
    <div class="footer-payment-icons">
        {{#if show_accept_visa}}
            <svg class="footer-payment-icon footer-payment-icon--visa" role="img" aria-label="Visa">
                <title>Visa</title>
                <desc>Visa</desc>
                <use xlink:href="#icon-logo-visa"></use>
            </svg>
        {{/if}}
        {{#if show_accept_mastercard}}
            <svg class="footer-payment-icon footer-payment-icon--mastercard" role="img" aria-label="Mastercard">
                <title>Mastercard</title>
                <desc>Mastercard</desc>
                <use xlink:href="#icon-logo-mastercard"></use>
            </svg>
        {{/if}}
        {{#if show_accept_amex}}
            <svg class="footer-payment-icon footer-payment-icon--americanExpress" role="img" aria-label="Amex">
                <title>Amex</title>
                <desc>Amex</desc>
                <use xlink:href="#icon-logo-american-express"></use>
            </svg>
        {{/if}}
        {{#if show_accept_discover}}
            <svg class="footer-payment-icon footer-payment-icon--discover" role="img" aria-label="Discover">
                <title>Discover</title>
                <desc>Discover</desc>
                <use xlink:href="#icon-logo-discover"></use>
            </svg>
        {{/if}}
        {{#if show_accept_cirrus}}
            <svg class="footer-payment-icon footer-payment-icon--cirrus" role="img" aria-label="Cirrus">
                <title>Cirrus</title>
                <desc>Cirrus</desc>
                <use xlink:href="#icon-logo-cirrus"></use>
            </svg>
        {{/if}}
        {{#if show_accept_paypal}}
            <svg class="footer-payment-icon footer-payment-icon--paypal" role="img" aria-label="Paypal">
                <title>Paypal</title>
                <desc>Paypal</desc>
                <use xlink:href="#icon-logo-paypal"></use>
            </svg>
        {{/if}}
        {{#if show_accept_western_union}}
            <svg class="footer-payment-icon footer-payment-icon--westernUnion" role="img" aria-label="Western Union">
                <title>Western Union</title>
                <desc>Western Union</desc>
                <use xlink:href="#icon-logo-western-union"></use>
            </svg>
        {{/if}}
        {{#if show_accept_amazonpay}}
            <svg class="footer-payment-icon footer-payment-icon--amazonpay" role="img" aria-label="Amazonpay">
                <title>Amazonpay</title>
                <desc>Amazonpay</desc>
                <use xlink:href="#icon-logo-amazonpay"></use>
            </svg>
        {{/if}}
        {{#if show_accept_googlepay}}
            <svg class="footer-payment-icon footer-payment-icon--googlepay" role="img" aria-label="Google Pay">
                <title>Google Pay</title>
                <desc>Google Pay</desc>
                <use xlink:href="#icon-logo-googlepay"></use>
            </svg>
        {{/if}}
        {{#if show_accept_klarna}}
            <svg class="footer-payment-icon footer-payment-icon--klarna" role="img" aria-label="Klarna">
                <title>Klarna</title>
                <desc>Klarna</desc>
                <use xlink:href="#icon-logo-klarna"></use>
            </svg>
        {{/if}}
    </div>
    {{/or}}
{{/with}}
