{{#if theme_settings.halo_homepage_layout_2}}
    <form class="form" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form>
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" 
                       data-search-quick 
                       name="{{name}}" 
                       id="{{name}}" 
                       data-error-message="{{lang 'search.error.empty_field'}}" 
                       placeholder="{{lang 'search.quick_search.input_placeholder_2'}}" 
                       autocomplete="off">
                <button type="submit" class="button button--primary" aria-label="{{lang "search.quick_search.input_label"}}"><svg class="icon"><use xlink:href="#icon-search"></use></svg></button>
            </div>
        </fieldset>
    </form>
{{else}}
    <form class="form" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form>
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" 
                       data-search-quick 
                       name="{{name}}" 
                       id="{{name}}" 
                       data-error-message="{{lang 'search.error.empty_field'}}" 
                       placeholder="{{lang 'search.quick_search.input_placeholder'}}" 
                       autocomplete="off">
                <button type="submit" class="button button--primary" aria-label="{{lang "search.quick_search.input_label"}}"><svg class="icon"><use xlink:href="#icon-search"></use></svg></button>
            </div>
        </fieldset>
    </form>
{{/if}}

