{{#if layout '==' 'product-view'}}
    <div class="shareLinkSocial{{#unless product.can_purchase}} product-outOfStock{{/unless}}">
        <a class="shareLinkSocial__button" href="javascript:void(0)" aria-label="Open Popup Share">
            <svg class="icon" aria-label="icon Share">
                <title>icon Share</title>
                <desc>icon Share</desc>
                <use xlink:href="#icon-share"></use>
            </svg>
        </a>
        <div class="shareLinkSocial__popup" style="display: none">
            <div class="shareLinkSocial__link">
                <p class="title">{{lang 'common.copy_link'}}</p>
                <input id="shareLinkSocial__copy" type="text" value="{{product.url}}">
                <a href="javascript:void(0)" class="shareLinkSocial__close" aria-label="Close Popup Share">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></svg>
                </a>
            </div>
            {{assignVar 'encodedUrl' (encodeURI url)}}
            {{assignVar 'encodedTitle' (encodeURI head.title)}}
            <div class="shareLinkSocial__social">
                <ul class="socialLinks">
                    {{#each settings.add_this.buttons}}
                        {{#if service '===' 'facebook'}}
                            <li class="socialLinks-item socialLinks-item--{{service}}">
                                <a class="socialLinks__link icon icon--{{service}}"
                                    title="{{{capitalize service}}}"
                                    href="https://facebook.com/sharer/sharer.php?u={{getVar 'encodedUrl'}}"
                                    target="_blank"
                                    rel="noopener"
                                    {{{annotation}}}
                                >
                                    <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                    <svg>
                                        <use href="#icon-facebook"/>
                                    </svg>
                                </a>
                            </li>
                        {{else if service '===' 'email'}}
                            <li class="socialLinks-item socialLinks-item--{{service}}">
                                <a class="socialLinks__link icon icon--{{service}}"
                                    title="{{{capitalize service}}}"
                                    href="mailto:?subject={{getVar 'encodedTitle'}}&amp;body={{getVar 'encodedUrl'}}"
                                    target="_self"
                                    rel="noopener"
                                    {{{annotation}}}
                                >
                                    <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                    <svg>
                                        <use href="#icon-envelope"/>
                                    </svg>
                                </a>
                            </li>
                        {{else if service '===' 'print'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                title="{{{capitalize service}}}"
                                onclick="window.print();return false;"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                <svg>
                                    <use href="#icon-print"/>
                                </svg>
                            </a>
                        </li>
                        {{else if service '===' 'twitter'}}
                            <li class="socialLinks-item socialLinks-item--{{service}}">
                                <a class="socialLinks__link icon icon--{{service}}"
                                    href="https://twitter.com/intent/tweet/?text={{getVar 'encodedTitle'}}&amp;url={{getVar 'encodedUrl'}}"
                                    target="_blank"
                                    rel="noopener"
                                    title="X"
                                    {{{annotation}}}
                                >
                                    <span class="aria-description--hidden">X</span>
                                    <svg>
                                        <use href="#icon-x"/>
                                    </svg>
                                </a>
                            </li>
                        {{else if service '===' 'linkedin'}}
                            <li class="socialLinks-item socialLinks-item--{{service}}">
                                <a class="socialLinks__link icon icon--{{service}}"
                                    title="{{{capitalize service}}}"
                                    href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{getVar 'encodedUrl'}}&amp;title={{getVar 'encodedTitle'}}&amp;summary={{getVar 'encodedTitle'}}&amp;source={{getVar 'encodedUrl'}}"
                                    target="_blank"
                                    rel="noopener"
                                    {{{annotation}}}
                                >
                                    <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                    <svg>
                                        <use href="#icon-linkedin"/>
                                    </svg>
                                </a>
                            </li>
                        {{else if service '===' 'pinterest'}}
                            <li class="socialLinks-item socialLinks-item--{{service}}">
                                <a class="socialLinks__link icon icon--{{service}}"
                                    title="{{{capitalize service}}}"
                                    href="https://pinterest.com/pin/create/button/?url={{getVar 'encodedUrl'}}&amp;media={{getImageSrcset ../product.main_image (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}&amp;description={{getVar 'encodedTitle'}}"
                                    target="_blank"
                                    rel="noopener"
                                    {{{annotation}}}
                                >
                                    <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                    <svg>
                                        <use href="#icon-pinterest"/>
                                    </svg>
                                </a>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
            {{#if settings.facebook_like_button.enabled}}
                <iframe
                    class="facebook{{#if settings.facebook_like_button.verb '===' 'recommend'}}Recommend{{else}}Like{{/if}}Btn"
                    style="border:none; overflow:hidden; margin: 0; padding: 0; position:absolute"
                    src="https://www.facebook.com/plugins/like.php?href={{settings.facebook_like_button.href}}&amp;layout=button_count{{#if settings.facebook_like_button.verb '===' 'recommend'}}&amp;action=recommend{{/if}}&amp;colorscheme=light&amp;height=20"
                    scrolling="no"
                    frameborder="0"
                    allowTransparency="true">
                </iframe>
            {{/if}}
        </div>
    </div>
{{else}}
    {{#if settings.add_this.buttons}}
        {{assignVar 'encodedUrl' (encodeURI url)}}
        {{assignVar 'encodedTitle' (encodeURI head.title)}}
        <div>
            <ul class="socialLinks">
                {{#each settings.add_this.buttons}}
                    {{#if service '===' 'facebook'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                title="{{{capitalize service}}}"
                                href="https://facebook.com/sharer/sharer.php?u={{getVar 'encodedUrl'}}"
                                target="_blank"
                                rel="noopener"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                <svg>
                                    <use href="#icon-facebook"/>
                                </svg>
                            </a>
                        </li>
                    {{else if service '===' 'email'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                title="{{{capitalize service}}}"
                                href="mailto:?subject={{getVar 'encodedTitle'}}&amp;body={{getVar 'encodedUrl'}}"
                                target="_self"
                                rel="noopener"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                <svg>
                                    <use href="#icon-envelope"/>
                                </svg>
                            </a>
                        </li>
                    {{else if service '===' 'print'}}
                    <li class="socialLinks-item socialLinks-item--{{service}}">
                        <a class="socialLinks__link icon icon--{{service}}"
                            title="{{{capitalize service}}}"
                            onclick="window.print();return false;"
                            {{{annotation}}}
                        >
                            <span class="aria-description--hidden">{{{capitalize service}}}</span>
                            <svg>
                                <use href="#icon-print"/>
                            </svg>
                        </a>
                    </li>
                    {{else if service '===' 'twitter'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                href="https://twitter.com/intent/tweet/?text={{getVar 'encodedTitle'}}&amp;url={{getVar 'encodedUrl'}}"
                                target="_blank"
                                rel="noopener"
                                title="X"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">X</span>
                                <svg>
                                    <use href="#icon-x"/>
                                </svg>
                            </a>
                        </li>
                    {{else if service '===' 'linkedin'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                title="{{{capitalize service}}}"
                                href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{getVar 'encodedUrl'}}&amp;title={{getVar 'encodedTitle'}}&amp;summary={{getVar 'encodedTitle'}}&amp;source={{getVar 'encodedUrl'}}"
                                target="_blank"
                                rel="noopener"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                <svg>
                                    <use href="#icon-linkedin"/>
                                </svg>
                            </a>
                        </li>
                    {{else if service '===' 'pinterest'}}
                        <li class="socialLinks-item socialLinks-item--{{service}}">
                            <a class="socialLinks__link icon icon--{{service}}"
                                title="{{{capitalize service}}}"
                                href="https://pinterest.com/pin/create/button/?url={{getVar 'encodedUrl'}}&amp;media={{getImageSrcset ../product.main_image (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}&amp;description={{getVar 'encodedTitle'}}"
                                target="_blank"
                                rel="noopener"
                                {{{annotation}}}
                            >
                                <span class="aria-description--hidden">{{{capitalize service}}}</span>
                                <svg>
                                    <use href="#icon-pinterest"/>
                                </svg>
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    {{/if}}
    {{#if settings.facebook_like_button.enabled}}
    <iframe
        class="facebook{{#if settings.facebook_like_button.verb '===' 'recommend'}}Recommend{{else}}Like{{/if}}Btn"
        style="border:none; overflow:hidden; margin: 0; padding: 0; position:absolute"
        src="https://www.facebook.com/plugins/like.php?href={{settings.facebook_like_button.href}}&amp;layout=button_count{{#if settings.facebook_like_button.verb '===' 'recommend'}}&amp;action=recommend{{/if}}&amp;colorscheme=light&amp;height=20"
        scrolling="no"
        frameborder="0"
        allowTransparency="true">
    </iframe>
    {{/if}}
{{/if}}
