<a href="{{urls.home}}" class="header-logo__link" data-header-logo-link>
    {{#if settings.store_logo.image}}
        {{#if theme_settings.logo_size '===' 'original'}}
            {{#if theme_settings.logo_transparent}}
                <img class="header-logo-image-unknown-size header-logo-transparent" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.logo_transparent}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
            {{/if}}
            <img class="header-logo-image-unknown-size{{#unless theme_settings.logo_transparent}} no-logo-transparent{{/unless}}" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
        {{else}}
            <div class="header-logo-image-container">
                {{#if theme_settings.logo_transparent}}
                    <img class="header-logo-image header-logo-transparent" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.logo_transparent}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                {{/if}}
                <img class="header-logo-image{{#unless theme_settings.logo_transparent}} no-logo-transparent{{/unless}}" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
            </div>
        {{/if}}
    {{else}}
        <span class="header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>
