{{#if theme_settings.halo_homepage_layout_4}}
    <h3 class="footer-info-heading">{{lang 'newsletter.subscribe_title'}}</h3>
{{else if theme_settings.halo_homepage_layout_3}}
    <h3 class="footer-info-heading">{{lang 'newsletter.subscribe_title_2'}}</h3>
{{else}}
    <h3 class="footer-info-heading">{{lang 'newsletter.subscribe'}}</h3>
{{/if}}
{{#if settings.show_newsletter_summary }}
    <p class="footer-newsletter-summary">{{settings.newsletter_summary}}</p>
{{/if}}

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="{{#if theme_settings.halo_homepage_layout_4}}{{lang 'newsletter.subscribe_email'}}{{else}}{{lang 'newsletter.email_placeholder'}}{{/if}}"
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       autocomplete="email"
                       required
                >
                <input class="button button--tertiary form-prefixPostfix-button--postfix"
                       type="submit"
                       value="{{#if theme_settings.halo_homepage_layout_4}}{{lang 'newsletter.subscribe_button'}}{{else}}{{lang 'newsletter.subscribe_submit'}}{{/if}}"
                >
            </div>
        </div>
    </fieldset>
</form>
