<div class="view-as-btn">
    <label class="form-label">{{lang 'common.view_as'}}</label>
    <div class="form-group">
        <a href="javascript:void(0);" class="btn-view grid-view{{#if theme_settings.product_list_display_mode '===' 'grid'}} current-view{{/if}}" id="grid-view" aria-label="{{lang 'ada.grid_view'}}">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-grid-view"></use></svg>
        </a>
        <a href="javascript:void(0);" class="btn-view list-view{{#if theme_settings.product_list_display_mode '===' 'list'}} current-view{{/if}}" id="list-view" aria-label="{{lang 'ada.list_view'}}">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-list-view"></use></svg>
        </a>
    </div>
</div>
