---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
cart: true
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="container">
    <div class="page page-cart{{#if theme_settings.halo_shipping}} has-calculate-shipping{{/if}}">
        <div class="page-header">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            {{> components/cart/page-title}}
        </div>
        {{#and (if theme_settings.halo_shipping) (if cart.items.length)}}
            <div class="halo-free-shipping-message animated-loading">
                <div class="progress-shipping" role="progressbar">
                    <div class="progress-meter" style="width: 0"></div>
                </div>
                <div class="shipping-message">
                    <span class="message"></span>
                    <span class="progress-percent">0%</span>
                </div>
            </div>
        {{/and}}
        <div class="cart-notification">
            {{#if cart.items.length}}
                {{#if theme_settings.halo-cart-notification}}
                    <div class="halo-cart-notification" data-coundown="{{theme_settings.halo-cart-notification-time}}">
                        <span class="icon"><svg><use xlink:href="#icon-info"></use></svg></span>
                        <span class="text">{{theme_settings.halo-cart-notification-text1}} {{theme_settings.halo-cart-notification-text2}} <span class="time"></span> {{lang 'cart.minutes'}}.</span>
                    </div>
                {{/if}}
            {{/if}}
        </div>
        <div class="page-content" data-cart>
            <div data-cart-status>
                {{> components/cart/status-messages}}
            </div>

            {{#if cart.items.length}}
                <div class="loadingOverlay"></div>
                <div class="cart-content-wrapper">
                    <div data-cart-content class="cart-content-item">
                        {{> components/cart/content}}
                    </div>
                    <div data-cart-totals class="cart-content-item">
                        {{> components/cart/totals}}
                    </div>
                </div>
                {{{region name="cart_below_totals"}}}
                
            {{else}}
                <h3 class="cart-content-empty" tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
            {{/if}}
        </div>
    </div>
</div>
<div class="haloRecommendedBlock">
    {{> components/halothemes/product/halo-product-recommended-block 
        enable=theme_settings.haloRecommendedBlock_cart 
        title_recommended=theme_settings.haloRecommendedBlock_cart_title 
        type=theme_settings.haloRecommendedBlock_cart_type
    }}
</div>

{{/partial}}
{{> layout/base}}
