---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
---
{{#partial "page"}}
    <div class="container--medium">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="page page-normal">
            <div class="page-header">
                <h1 class="page-heading">{{ page.title }}</h1>
            </div>
            <main class="page-content halo-page-content">
                {{#if page.sub_pages}}
                    <nav class="navBar navBar--sub">
                        <ul class="navBar-section account-navigation">
                        {{#each page.sub_pages}}
                            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                        {{/each}}
                        </ul>
                    </nav>  
                {{/if}}
                <div class="halo-description">
                    {{#replace '%%Syndicate%%' page.content}}
                        {{> components/page/rss_feed}}
                    {{else}}
                        {{{page.content}}}
                    {{/replace}}
                    {{{region name="page_builder_content"}}}
                </div>
            </main>
            {{#if page.feed}}
                <ul>
                    {{#each page.feed}}
                        <li>
                            <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                            <p>{{content}}</p>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
{{/partial}}

{{> layout/base}}
