// =============================================================================
// ADDRESS BOX (CSS)
// =============================================================================

// Address layout
// -----------------------------------------------------------------------------
//
// 1. Using display: inline-block; to vertically align blocks.
//    Font-size gets redefined under the .address block.
//
// -----------------------------------------------------------------------------

.addressList {
    list-style: none;
    margin: 40px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    @media (min-width: 768px) {
        margin: 40px -15px 0;
        margin-bottom: -30px;
    }
}

.address {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border: 1px solid $color-custom-grey;
    border-radius: 0;
    margin: 0;
    background: #fafafa;

    +.address {
        margin-top: 20px;
    }

    @media (min-width: 768px) {
        width: calc(50% - 30px);
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        justify-content: center;
        padding: 20px 25px;

        +.address {
            margin-top: 0;
        }
    }

    @media (min-width: 1400px) {
        width: calc(33.33% - 30px);
    }
}

.address-title {
    display: block;
    font-family: $fontFamily-sans;
    font-size: $fontSize-root;
    font-weight: $fontWeight-medium;
    letter-spacing: $letterSpacing-base;
    color: $color-textBase;
    line-height: 2;
    text-transform: capitalize;
    margin: 0;
}

.address-details {
    list-style-type: none;
    margin: 0;

    &.address-details--postal {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        line-height: 1.75;
        letter-spacing: $letterSpacing-base;
        color: $color-textBase;
    }
}

.address-addNew {
    display: block;
    text-align: center;

    .address-symbol {
        display: block;
        margin: 0 0 10px 0;
        text-align: center;

        svg {
            width: 40px;
            height: 40px;
            fill: $color-textBase;
        }
    }
}

.panel--address {
    position: relative;
    width: 100%;

    .panel-body {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
    }

    form {
        .form-actions {
            display: block;
            margin: 20px 0 0;

            .button {
                vertical-align: top;

                +.button {
                    margin-top: 20px;
                }

                @media (max-width: 767px) {
                    margin-left: 0;
                }
            }
        }
    }


    &.panel--newAddress {
        margin: auto;

        .panel-body {
            display: flex;
            min-height: 295px;
            align-items: center;
            justify-content: center;
        }
    }

    @media (min-width: 768px) {
        form {
            .form-actions {
                display: block;

                .button {
                    width: auto;
                    vertical-align: top;

                    +.button {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.address-description,
.address-label {
    display: inline-block;
    margin: 0;
}
