{{#if category.subcategories}}
    <div class="haloSubCategories">
        <div class="haloSubCategories__container">
            <div class="haloSubCategories__carousel"
                data-slick='{
                    "dots": false,
                    "arrows": false,
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "responsive": [
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 2,
                                "arrows": true
                            }
                        },
                        {
                            "breakpoint": 601,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 3,
                                "arrows": true
                            }
                        },
                        {
                            "breakpoint": 801,
                            "settings": {
                                "slidesToShow": 4,
                                "slidesToScroll": 4,
                                "arrows": true
                            }
                        },
                        {
                            "breakpoint": 1025,
                            "settings": {
                                "slidesToShow": 5,
                                "slidesToScroll": 5,
                                "arrows": true
                            }
                        },
                        {
                            "breakpoint": 1400,
                            "settings": {
                                "slidesToShow": 6,
                                "slidesToScroll": 6,
                                "arrows": true
                            }
                        }
                    ]
                }'
            >
                {{#each category.subcategories}}
                    <div class="haloSubCategories__item">
                        {{#if image}}
                            <div class="haloSubCategories__img">
                                <a href="{{url}}" aria-label="Button Go To Sub Category {{name}}">
                                    <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="{{getImage image '80x80'}}" alt="{{name}}">
                                </a>
                            </div>
                        {{else}}
                            <div class="haloSubCategories__icon">
                                <a href="{{url}}" aria-label="Button Go To Sub Category {{name}}">
                                    <img class="lazyload" src="{{cdn 'img/CategoryDefault.png'}}" alt="{{name}}">
                                </a>
                            </div>
                        {{/if}}
                        <div class="haloSubCategories__content">
                            <a class="haloSubCategories__name" href="{{url}}" aria-label="Button Go To Sub Category {{name}}">{{name}}</a>
                            <div class="haloSubCategories__count">{{product_count}} {{#if product_count '>=' 2}}products{{else}}product{{/if}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}
