<div class="form-field" data-product-attribute="set-rectangle" data-product-option-id="{{id}}" role="radiogroup" aria-labelledby="rectangle-group-label">
    <label class="form-label form-label--alternate form-label--inlineSmall" id="rectangle-group-label">
        {{this.display_name}}
        {{> components/common/requireness-msg}}
        <span data-option-value></span>
    </label>

    {{#unless required}}
        <input
            class="form-radio"
            type="radio"
            id="attribute_rectangle__{{../id}}_none"
            name="attribute[{{../id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
            data-title="{{this.label}}"
            data-index="{{@index}}"
        >
        <label class="form-option" for="attribute_rectangle__{{../id}}_none">
            <span class="form-option-variant">{{lang 'products.none'}}</span>
        </label>
    {{/unless}}

    <div class="option-value-size">
        {{#each this.values}}
            <input data-filter=".filter-{{camelcase this.label}}"
                class="form-radio"
                type="radio"
                id="attribute_rectangle__{{../id}}_{{id}}"
                name="attribute[{{../id}}]"
                value="{{id}}"
                {{#if selected}}
                    checked
                    data-default
                {{/if}}
                {{#if ../required}}required{{/if}}
                data-title="{{this.label}}"
                data-index="{{@index}}"
            >
            <label class="form-option form-option-rectangle" for="attribute_rectangle__{{../id}}_{{id}}" data-product-attribute-value="{{id}}">
                <span class="form-option-variant"><span>{{this.label}}</span></span>
            </label>
        {{/each}}
    </div>
</div>
