<div class="form-field" data-product-attribute="set-radio" data-product-option-id="{{id}}" role="radiogroup" aria-labelledby="radio-group-label">
    <label class="form-label form-label--inlineSmall" id="radio-group-label">
        {{ this.display_name }}
        {{> components/common/requireness-msg}}
        <span data-option-value></span>
    </label>

    {{#unless required}}
        <input
            class="form-radio"
            type="radio"
            id="attribute_radio_{{../id}}_none"
            name="attribute[{{../id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
            data-title="{{this.label}}"
            data-index="{{@index}}"
        >
        <label class="form-label" for="attribute_radio_{{../id}}_none">{{lang 'products.none'}}</label>
    {{/unless}}

    <div class="form-radio-all">
        {{#each this.values}}
            <div class="form-radio-{{@index}}">
                <input data-filter=".filter-{{camelcase this.label}}"
                    class="form-radio"
                    type="radio"
                    id="attribute_radio_{{../id}}_{{id}}"
                    name="attribute[{{../id}}]"
                    value="{{id}}"
                    {{#if selected}}
                        checked
                        data-default
                    {{/if}}
                    {{#if ../required}}required{{/if}}
                    data-title="{{this.label}}"
                    data-index="{{@index}}"
                >
                <label data-product-attribute-value="{{id}}" class="form-label form-radio-child" for="attribute_radio_{{../id}}_{{id}}">{{this.label}}</label>
            </div>
        {{/each}}
    </div>
</div>
