<div class="form-field" data-product-attribute="set-select" data-product-option-id="{{id}}">
    <label class="form-label form-label--inlineSmall" for="attribute_select_{{id}}">
        {{ this.display_name }}
        {{> components/common/requireness-msg}}
        <span data-option-value></span>
    </label>

    <select class="form-select form-select--small" name="attribute[{{this.id}}]" id="attribute_select_{{id}}" {{#if required}}required{{/if}}>
        <option value="">{{lang 'products.choose_options'}}</option>
        {{#each this.values}}
            <option data-filter=".filter-{{camelcase this.label}}" data-product-attribute-value="{{id}}" value="{{id}}" {{#if selected}}selected data-default{{/if}} data-title="{{label}}" data-index="{{@index}}">{{label}}</option>
        {{/each}}
    </select>
</div>
