// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";
// @import "../../node_modules/bootstrap/scss/bootstrap";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Common aria helpers.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
// 6. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
//
// -----------------------------------------------------------------------------

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 6

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4


// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";

// Library
// -----------------------------------------------------------------------------

@import "vendor/animate";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "common/index"; // 3
@import "components/components"; // 6


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1

@import "vendor/jstree/style";

@import "halothemes/halo";
@import "swiper";
@import "custom";







.navPages-container {
    background: 0 0;
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    display: none;
}
.header-logo {
    height: auto;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Condensed';
   
}

.logobanner {
    width: 100%;
    overflow: hidden;
}


[data-sub-layout="3af48c03-fe38-41ac-bd99-2fccd98a9415"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    position: relative;
}
video.t4s_bg_vid_html5 {
    width: 100%;
}

.container.nav-container {
    display: none !important;
}

.item--quicksearch.halo-search.halo-search-main {
    display: none;
}
.bottomHeader-item.text-left .navPages-container {
    display: none;
}
li.navUser-item.navUser-item--wishlist {
    display: none;
}

footer.footer {
    background: repeating-linear-gradient(180deg, #535353, #535353, #535353, #535353);
}

main#main-content {
    margin-bottom: 0;
}





.sec3 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 90px;
}
.footer-info-heading {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 7px;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-info-heading:hover {
    color: white;
    
}

.footer-info-list a span {
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 14px;
}
.footer-info .footer-info-list>li>a {
    padding: 4px 0;
    display: inline-block;
    text-decoration: unset;
    line-height: 19px;
}
.footer-info-list a span {
    background-image: -webkit-gradient(linear,left top,left bottom,from(currentColor),to(currentColor));
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    -webkit-transition: background-size .5s;
    transition: unset;
    background: unset;
}
.footer-bottom {
    padding: 0;
    margin: 0;
    background: repeating-linear-gradient(180deg, #535353, #535353, #535353, #535353);
}
.footer-copyright > .powered-by {
    color: white;
    margin: 0;
    line-height: 26px;
    letter-spacing: 0.02em;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    text-align: center;
}.footer-copyright a {
    color: white;
    text-decoration: none;
}
.footer-bottom .footer-bottom__left {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 0;
}
[data-sub-layout="229feec1-aeca-4327-846f-e69dabaac384"] {
   
    padding-right: 0 !important;
    padding-left: 0 !important;
   
}

[data-sub-layout-container="8dd6f79f-5639-4cbd-bbac-67040d62d4ab"] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    z-index: unset !important;
    position: relative;
}[data-sub-layout="03c262ba-85d2-4ad1-a3a8-27b851b64126"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: unset !important;
    justify-content: center;
    padding-right: 10.5px;
    padding-left: 10.5px;
    position: relative;
}

.t4s-img-video {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.page-type-default .body {
    margin-top: 0;
}
[data-sub-layout-container="ac57beb6-0f36-4bb5-ab02-ffe143b259f0"] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 123;
    position: relative;
}
[data-sub-layout="bc2be1c4-91d5-4f99-9c32-189519d27fd3"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 123 !important;
    justify-content: center;
    padding-right: 10.5px;
    padding-left: 10.5px;
    position: relative;
}[data-sub-layout-container="ac57beb6-0f36-4bb5-ab02-ffe143b259f0"] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 123 !important;
    position: relative;
}

.card-figcaption {
    display: block;
    margin: 0;
    pointer-events: none;
    opacity: 1;
    display: none;
}
[data-content-region="home_policy_block--global"] {
    margin: 0 !important;
}
[data-content-region="home_policy_block"] {
    margin: 0 !important;
}
.tab-content {
    display: none;
    padding: 0;
}

p.footer-info__phone {
    display: none !important;
}
.halo-block.halo-block-product .halo-block-header {
    margin: 0 0 0px 0;
}
.halo-block-header h3 {
    font-size: 38px !important;
    font-family: 'Roboto Condensed' !important;
    letter-spacing: 4px !important;
}.productCarousel-tabs .tabs .tab.is-active .tab-title {
    font-weight: 600;
    color: #fff;
    border-color: #000;
    background-color: transparent;
    border: none;
    color: black;
}
.halo-block-header .title {
    
    margin-bottom: 20px;
}
.footer {
    background-color: #fff;
    border-top: none;
    position: relative;
    margin: 0 !important;
}


.productCarousel-tabs .tabs .tab-title {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.625;
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    border: none;
    color: #808080;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    min-width:220px;
}

.card-title>a
{
    padding:0;
}
.card-title>a span {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
figure.card-figure {
    background: #ededed;
    border-radius: 20px 20px 0 0px;
    padding: 20px;
}
.card-price span {
    color: #757575;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
}
.card-title {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}
.card-mta {
    display: block;
    width: 100%;
    background: red;
    position: relative;
    text-align: center;
    padding: 7px 0px;
    line-height: unset;
    height: unset;
    bottom: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px 0px 20px 20px;
}




[data-sub-layout="2d90b717-501e-42b6-bc5e-6d0034c77283"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 1 !important;
    justify-content: center;
    
    position: relative;
}

[data-sub-layout="e7f56982-3b1f-414f-87fb-67e298fe4260"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}[data-sub-layout="2d90b717-501e-42b6-bc5e-6d0034c77283"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 1 !important;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}
[data-sub-layout-container="f898fdb1-e597-45f6-8ab9-83998c8a6815"] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 1 !important;
    position: relative;
}[data-sub-layout="ab5055b7-769f-414e-a255-768f44ebdc14"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}




.productView-wrapper-details {
    background: #f2f2f2;
    padding: 40px;
    border-radius: 20px;
}
.productView-title {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    color: #000;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid;
    padding-top: 30px;
}
.halo-productView-right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-top: 0;
    margin-right: 0;
    padding: 0 0 0 30px;
}
label#rectangle-group-label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed';
}
label.form-option.form-option-rectangle > span {
    padding: 0 15px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    font-family: 'Roboto';
}
.halo-productOptions .form-option-variant:after {
    z-index:-1;
    background-color: white;
   
}

.productView-actions .form-field--increments .form-input--incrementTotal {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 105px;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    line-height: 1;
    max-width: 100%;
    border-radius: 7px;
}
#form-action-addToCart.button.button--secondary {
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 7px;
}
[data-product-option-change] .form-field {
    border-bottom: 1px solid;
}
.form-radio:checked+.form-option span:after {
    background: black;
}.form-radio:checked+.form-option span {
    color: white !important;
    z-index: 8;
}.productView-options .form .form-field .form-label [data-option-value] {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin: 0 0 0 6px;
    font-style: italic;
    display: none;
}.productView-options .form .form-field .form-label small {
    display: block;
    color: #f1152f;
    line-height: inherit;
    margin: 0 0 0 3px;
    float: none;
    display: none;
}

figure.productView-image {
    
}

.prdeffect {
    font-size: 12px;
}.des {
    font-size: 12px;
}

.prdefpe {
    display: flex;
    justify-content: flex-start;
}.prdefpe img {
    max-width: 120px;
}
.psd {
    color: white;
    line-height: 20px;
    border-top: 2px solid black;
    padding-top: 10px;
}
.psd div {
    margin: 0;
    font-size: 11px;
    line-height: 13px;
    padding-top: 5px;
    color: black;
    font-weight:600;
}
.psd h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.psd h4{
    font-size:18px;
    font-weight:bold;

}

.tandc p, .tandc span {
    color: #878787;
}.tandc p {
    margin-top: 10px !important;
    margin-bottom: 0px;
}
.tandc span {
    font-size: 18px;
    font-weight: bold;
}h1.page-heading {
    color: #878787;
}.tandc {
    padding-bottom: 50px;
}














@media (min-width: 1400px) {
    .halo-productView-left {
        width: 628px;
        top: 90px;
    }
}






@media(min-width:1600px){
    

    .halo-productView-top .container {
    padding: 0;
    max-width: 1300px;
}
}






























@media(max-width:768px){


.catimd{
    
    display:none;
}

.catimm{
    display:block !important;
}

.deskshow {
    display: none;
}
.mobshow {
    display: block !important;
}

video.t4s_bg_vid_html5 {
    width: 100%;
    min-height: 390px;
    object-fit: cover;
}

.header-logo-image-container {
    display: block;
    position: relative;
    width: 100%;
    min-height: auto;
    min-width: auto;
}
.header-logo-image {
    max-height: 1.9375rem;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.homebanner {
    padding: 0 0px !important;
    margin: 0 auto;
    width: 100%;
}.homelinks {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding: 0px !important;
}
.middleHeader-item__item.item--hamburger {
    display: none !important;
}
.halo-block-product {
    padding: 0px 0;
}


.header-logo__link {
    color: #333333;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 70%;
    z-index: 20;
    margin-right: 5%;
}
[data-sub-layout="3af48c03-fe38-41ac-bd99-2fccd98a9415"] {
   
    padding-right: 0 !important;
    padding-left: 0 !important;
  
}
[data-sub-layout="e964312f-d310-4088-b092-6f73f6b4cbe3"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}
.sec3 {
    position: relative;
    margin-top: 80px;
    margin-bottom: 0 !important;
}
.header-logo-image {
    max-height: max-content;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h3.footer-info-heading.footer-info-heading--toggle:before {
    display: none;
}
h3.footer-info-heading.footer-info-heading--toggle:after {
    display: none;
}
.footer-info-col[data-section-type="footer-categories"] .footer-info-heading, .footer-info-col[data-section-type="footer-webPages"] .footer-info-heading, .footer-info-col[data-section-type="footer-brands"] .footer-info-heading {
    border-bottom: none;
    margin-bottom: 0;
    padding: 15px 0;
    position: relative;
}
.footer-info-col[data-section-type="footer-categories"].open-dropdown .footer-info-heading:before, .footer-info-col[data-section-type="footer-webPages"].open-dropdown .footer-info-heading:before, .footer-info-col[data-section-type="footer-brands"].open-dropdown .footer-info-heading:before {
    display:none;
}
.footer-info-col[data-section-type="footer-categories"] .footer-info-list, .footer-info-col[data-section-type="footer-webPages"] .footer-info-list, .footer-info-col[data-section-type="footer-brands"] .footer-info-list {
    display: none;
    margin-bottom: 30px;
    margin-top: 0;
}
.footer-info {
    padding: 30px 20px;
}
ul.footer-info-list {
    display: block !important;
}
h3.footer-info-heading.footer-info-heading--toggle {
    pointer-events: none;
}[data-section-type="storeInfo"] {
    display: none;
}

.productCarousel-tabs .tabs .tab-title {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.625;
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    border: none;
    color: #808080;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    min-width: 123px;
}ul.tabs.haloCustomScrollbar-x.disable-srollbar {
    margin-bottom: 20px;
}
.halo-block.halo-block-product.halo-block-product-tabs.padding-top-30.padding-bottom-50 {
    padding-bottom: 50px;
}
.productCarousel.slick-initialized.slick-slider.slick-dotted button {
    display: none;
}

}
