{{#partial "page"}}
    <div class="container--medium">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="page page-account">
            <div class="page-header">
                <h1 class="page-heading">{{lang 'account.recent_items.heading' }}</h1>
            </div>
            {{> components/account/navigation account_page='recent_items'}}
            <main class="page-content">
                <div class="account">
                    <div class="account-body">
                        <section class="account-content account-content2">
                            {{#unless customer.recently_viewed_products.items}}
                                {{> components/common/alert/alert-info (lang 'account.recent_items.no_items')}}
                            {{/unless}}
                            {{#if customer.recently_viewed_products.items}}
                                <ul class="productGrid col-{{theme_settings.product_list_display_col}}">
                                    {{#each customer.recently_viewed_products.items}}
                                        <li class="product">
                                            {{> components/products/card theme_settings=../theme_settings}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
