{{#partial "page"}}
{{#if settings.show_wishlist}}
    <div class="container--medium">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="page page-account">
            <div class="page-header">
                <h1 class="page-heading">{{lang 'account.wishlists.heading' }}</h1>
            </div>
            {{> components/account/navigation account_page='wishlists'}}
            <main class="page-content">
                <div class="account">
                    <div class="account-body">
                        <section class="account-content account-content2">
                            {{> components/account/wishlist-list}}
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
