<nav class="haloCustomScrollbar">
    {{> components/halothemes/sidebar/halo-all-categories breadcrumbs=breadcrumbs}}

    {{#if product_results.faceted_search_enabled}}
        {{> components/faceted-search/index product_results}}
    {{else}}
        {{> components/category/shop-by-price}}
        {{#if shop_by_brand}}
            {{> components/halothemes/sidebar/halo-shop-by-brand}}
        {{/if}}
    {{/if}}

    {{#if theme_settings.halo-sidebar-products}}
        {{#if products.top_sellers}}
            {{> components/halothemes/sidebar/halo-product-sidebar products=products.top_sellers title=theme_settings.halo-sidebar-products-title}}
        {{else}}
            {{> components/halothemes/sidebar/halo-product-sidebar products=products.featured title=theme_settings.halo-sidebar-products-title}}
        {{/if}}
    {{/if}}
    
    {{> components/halothemes/sidebar/halo-advertisement-image}}
    {{> components/halothemes/sidebar/halo-advertisement-content}}
</nav>
