{{#if theme_settings.halo-sidebar-image}}
	<div class="sidebarBlock" id="advertisement-image">
		<div class="sidebarBlock-content">
	       	<div class="advertisement-image">
				<a class="image image-with-overlay" href="{{theme_settings.halo-sidebar-image-link}}">
					<img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-sidebar-image}}" alt="{{theme_settings.halo-sidebar-image-alt}}" title="{{theme_settings.halo-sidebar-image-alt}}">
				</a>
			</div>
	    </div>
	</div>
{{/if}}
