{{#or (if theme_settings.halo_homepage_layout_1) (if theme_settings.halo_homepage_layout_4)}}
	{{#if enable}}
		{{#if type '==' 'Featured'}}
		    {{> components/products/featured
		        products=products.featured
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		    }}
		{{else if type '==' 'New'}}
		    {{> components/products/new
		        products=products.new
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		    }}
		{{else if type '==' 'Top'}}
		    {{> components/products/top
		        products=products.top_sellers
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		    }}
		{{/if}}
	{{/if}}
{{else}}
	{{#if enable}}
		{{#if type '==' 'Featured'}}
		    {{> components/products/featured
		        products=products.featured
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		        show_dots_bar="true"
		    }}
		{{else if type '==' 'New'}}
		    {{> components/products/new
		        products=products.new
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		        show_dots_bar="true"
		    }}
		{{else if type '==' 'Top'}}
		    {{> components/products/top
		        products=products.top_sellers
		        productsnew=products.new
		        title=title_recommended
		        block_id="haloRecommendedBlock"
		        block_limit=theme_settings.home_product_block_limit
		        block_column=theme_settings.home_product_block_col
		        block_layout=theme_settings.home_product_block_1_layout
		        show_dots_bar="true"
		    }}
		{{/if}}
	{{/if}}
{{/or}}
