<li class="product-sample">
    <article class="card card-sample">
        <figure class="card-figure">
            <a href="#" class="card-link" aria-label="Sample Card">
                <div class="card-img-container animated-loading"></div>
            </a>
        </figure>
        <div class="card-body">
            <div class="card-body-content">
                <h3 class="card-title animated-loading">
                    <a aria-label="Sample Card Title" href="#"><span>Sample Card</span></a>
                </h3>

                <div class="card-wrapper animated-loading">
                    <div class="card-price" data-test-info-type="price">
                        <span class="price">$000.00</span>
                    </div>
                </div>

                <div class="card-option animated-loading">
                    <div class="form-field"></div>
                </div>
            </div>

            <div class="card-body-button animated-loading">
                <a href="#" class="card-action">
                    <span>Details</span>
                </a>
            </div>
        </div>
    </article>
</li>
