{{#all (if theme_settings.halo_ask_an_expert) (if theme_settings.halo_ask_an_expert_pagelink)}}
	<div class="productView-askAnExpert{{#if product.options}} productView-askAnExpertOption{{/if}}">
        <a class="productView-askAnExpert-link ask-an-expert-link" href="#" aria-label="{{lang 'products.ask_an_expert'}}">
            <svg class="icon" role="img" aria-label="{{lang 'products.ask_an_expert'}}">
                <title>{{lang 'products.ask_an_expert'}}</title>
                <desc>{{lang 'products.ask_an_expert'}}</desc>
                <use xlink:href="#icon-ask-an-expert"></use>
            </svg>
            <span class="text">{{lang 'products.ask_an_expert'}}</span>
        </a>
    </div>
{{/all}}
