{{#if theme_settings.halo-product-security-image}}
    {{#or (if theme_settings.halo-product-security-image-1) (if theme_settings.halo-product-security-image-2) (if theme_settings.halo-product-security-image-3) (if theme_settings.halo-product-security-image-4)}}
        <div class="productView-securityImage">
            <ul>
                {{#if theme_settings.halo-product-security-image-1}}
                    <li>
                        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-1}}" alt="{{theme_settings.halo-product-security-image-1}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-2}}
                    <li>
                        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-2}}" alt="{{theme_settings.halo-product-security-image-2}}" title="{{theme_settings.halo-product-security-image-2}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-3}}
                    <li>
                        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-3}}" alt="{{theme_settings.halo-product-security-image-3}}" title="{{theme_settings.halo-product-security-image-3}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-4}}
                    <li>
                        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-4}}" alt="{{theme_settings.halo-product-security-image-4}}" title="{{theme_settings.halo-product-security-image-4}}">
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/or}}
{{/if}}
