<div class="productCarousel-slide">
    <div class="product">
        <article class="card" data-product-id="{{product.id}}">
            <figure class="card-figure">
                <div class="card-img-container">
                    <a href="{{product.url}}">
                        {{> components/common/responsive-img
                            image=product.main_image
                            class="card-image"
                            fallback_size=theme_settings.productgallery_size
                            lazyload=theme_settings.lazyload_mode
                            default_image=theme_settings.default_image_product
                        }}
                    </a>
                </div>
            </figure>
            <div class="card-body">
                <h4 class="card-title">
                    {{#if theme_settings.halo_card_title '==' 'ellipsis'}}
                        <a href="{{product.url}}" class="card-ellipsis" style="-webkit-box-orient: vertical;">{{product.title}}</a>
                    {{else}}
                        <a href="{{product.url}}">{{product.title}}</a>
                    {{/if}}
                </h4>
                <div class="card-text card-price" data-test-info-type="price">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{> components/products/price price=product.price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                <div class="card-option card-option-{{product.id}}">
                    <div class="form-field"></div>
                </div>
                <a href="{{product.url}}" class="card-action">
                    <span class="text">Details</span>
                </a>
            </div>
        </article>
    </div>
</div>
