// =============================================================================
// USER NAVIGATION (CSS)
// =============================================================================
//
// 1. Corrects the spacing added by .navUser-or
// 2. Can't use top: 50% because its container `.header` changes its height to
//    100% when mobile menu is expanded
// 3. Make the triangle for store credit dropdown centered
// 4. Needs to be 100% so its dropdown can take full width in mobile viewport
// 5. Needs to be lower than logo zIndex, otherwise, logo is not clickable
// 6. Make the triangle for currency dropdown right aligned
// 7. Corrects mini cart positioned outside viewport. Since this resets right
//    position, nudge dropdown away from the side of viewport in mobile viewport.
// 8. This corrects mini cart dropdown arrow alignment in mobile viewport by
//    setting the previous styles to medium breakpoint and adjusts for nudge in (7).
//
// -----------------------------------------------------------------------------

.navUser {
    @include nav($style: "navBar", $wrapper: "nav");
    @include verticalPositionMiddle("absolute");
    right: 0;
    top: 26px; // 2
    width: 100%; // 4

    @include breakpoint("medium") {
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
        transform: none;
    }

    .dropdown-menu {
        background-color: stencilColor("navUser-dropdown-backgroundColor");
        border: 1px solid stencilColor("navUser-dropdown-borderColor");
        box-shadow: container("dropShadow");
        position: absolute;
    }
}

.navUser-section {
    @include breakpoint("medium") {
        position: relative; // 7
    }
}

.navUser-action {
    color: stencilColor("navUser-color");
    font-weight: fontWeight("bold");
    padding: spacing("base") spacing("half");
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.is-open {
        color: stencilColor("navUser-color-hover");

        // scss-lint:disable NestingDepth
        svg {
            fill: stencilColor("navUser-color-hover");
            stroke: stencilColor("navUser-color-hover");
        }

        // scss-lint:enable NestingDepth
    }

    .icon {
        @include square(20px);
        margin: -1px 0 0 spacing("eighth");
    }

    svg {
        fill: stencilColor("navUser-color");
        stroke: stencilColor("navUser-color");
        transition: all 0.15s ease;
    }

    &.navUser-action--currencySelector {
        text-transform: none;
        transition: unset;
        display: flex;
        align-items: center;

        .header-layout-2 &,
        .header-layout-4 & {
            .icon {
                position: relative;
                top: 1px;

                svg {
                    width: 9px;
                    height: 9px;
                    margin-left: 5px;
                    fill: stencilColor("navUser-color");
                    stroke: stencilColor("navUser-color");
                }
            }
        }

        .header-layout-2 & {
            img {
                height: 22px;
                width: 22px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .header-layout-3 & {
            .cur-code {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                position: relative;
                bottom: -1px;
            }

            .icon {
                width: 20px;
                height: 24px;
                margin: 0;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .header-layout-4 & {
            .cur-code {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                font-weight: 500;
                position: relative;
                bottom: -1px;
            }

            .icon {
                svg {
                    fill: stencilColor('navUser-color');
                    stroke: stencilColor('navUser-color');
                }
            }
        }

        .flag {
            position: relative;
            top: -1px;
            margin: 0 8px 0 0;

            +.text {
                margin-right: 7px;
            }
        }

        .text {
            span {
                padding: 0 0 1px 0;
            }
        }

        .icon {
            width: 8px;
            height: 8px;
            transition: unset;
        }

        +#currencySelection {
            top: calc(100% - 3px) !important;
            left: auto !important;
            right: 0px;
            min-width: 200px;
            transform: none;
            border: 0;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
            margin: 0;
            padding: 0 0 10px 0;
            display: block;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transform: translate3d(0, -20px, 0);
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            text-align: left;

            &.is-open {
                overflow: visible;
                visibility: visible;
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }

            .dropdown-menu-title {
                padding: 0 20px;
                line-height: 40px;
                background-color: $color-custom-greyLight;
                margin-bottom: 8px;

                .text {
                    color: $color-textBase;
                    opacity: 0.7;
                }
            }

            .dropdown-menu-item {
                padding: 0 20px;
                line-height: 30px;

                >a {
                    display: flex;
                    align-items: center;
                    font-size: $fontSize-root;
                    font-weight: $fontWeight-normal;
                    letter-spacing: $letterSpacing-base;
                    line-height: inherit;
                    color: #172532;
                    padding: 0;
                    text-transform: unset;

                    .flag {
                        position: relative;
                        top: -2px;
                        margin: 0 8px 0 0;
                    }

                    &.is-active {
                        .text {
                            background-image: linear-gradient(transparent 97%, #4c4c4c 3%);
                            background-repeat: repeat-x;
                            background-position-y: -7px;
                        }
                    }
                }
            }
        }
    }
}

.navUser-action--currencySelector+.dropdown-menu {
    &:before {
        // scss-lint:disable ImportantRule
        left: auto !important; // 6
        right: spacing("half"); // 6
    }

    &:after {
        // scss-lint:disable ImportantRule
        left: auto !important; // 6
        right: spacing("half") + remCalc(2px); // 6
    }
}

.navUser-action--storeCredit+.dropdown-menu {
    max-width: remCalc(300px);
    padding: spacing("single");

    &:before {
        // scss-lint:disable ImportantRule
        left: remCalc(140px) !important; // 3
    }

    &:after {
        // scss-lint:disable ImportantRule
        left: remCalc(142px) !important; // 3
    }
}

.navUser-action-divider {
    border-right: container("border");
    color: stencilColor("color-textSecondary");
    display: inline-block;
    padding: 0 remCalc(20) 0 0;
    text-decoration: none;
}

.navUser-item {
    display: none;

    @include breakpoint("medium") {
        display: block;

        &.navUser-item--social {
            margin-top: rem-calc(5px);
            padding-right: rem-calc(5px);
        }

        &.navUser-item--divider {
            font-size: rem-calc(25px);
            margin-top: rem-calc(8px);
            padding-left: rem-calc(2px);
        }
    }
}

.navUser-item--search {
    display: inline-block;
    vertical-align: top;
}

.navUser-item--cart {
    display: inline-block;
    vertical-align: top;
    position: relative;

    // removing cart link for small screens when quantity is 0
    &__hidden-s {
        @media (max-width: $screen-small) {
            display: none;
        }
    }

    .navUser-action {
        color: stencilColor("navUser-color");

        // scss-lint:disable NestingDepth
        &:hover,
        &.is-open {
            color: stencilColor("navUser-color-hover");
        }
    }

    .dropdown-menu {
        max-width: remCalc(320px);
        min-width: 430px;

        // scss-lint:disable NestingDepth
        &.is-open {
            top: auto !important; // 7
            left: auto !important; // 7
            right: remCalc(5px); // 7

            @include breakpoint("medium") {
                right: 0; // 7
            }

            &:before,
            &:after {
                left: auto;
            }

            &:before {
                right: spacing("half") - remCalc(5px); // 8

                @include breakpoint("medium") {
                    right: spacing("half"); // 8
                }
            }

            &:after {
                right: spacing("half") - remCalc(3px); // 8

                @include breakpoint("medium") {
                    right: spacing("half") + remCalc(2px); // 8
                }
            }
        }
    }
}

.navUser-item--liveHelp {
    position: relative;
}

.navUser-item-cartLabel {

    @include breakpoint("small") {
        display: inline;
    }
}

.navUser-item--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navUser-item--account {
    display: inline-block;
    vertical-align: top;

    .navUser-or {

        // scss-lint:disable NestingDepth
        +.navUser-action {
            margin-right: -0.5rem; // 1
        }
    }

    .navUser-action {
        display: inline-block;
    }

    .navUser-item__item {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
}

.navUser-or {
    color: stencilColor("navUser-color");
    cursor: default;
    display: inline-block;
    margin: 0 remCalc(-12px);
    padding: 0 2px;
    position: relative;
    z-index: 1;
}

// Quick search
// -----------------------------------------------------------------------------
//
// 1. Overriding the inline styles from Foundation as this is a unique dropdown.
//
// -----------------------------------------------------------------------------

.navUser-action--quickSearch {

    &.is-open {
        position: relative;

        // scss-lint:disable NestingDepth
        &:before {
            @include css-triangle($triangle-direction: "bottom",
                $triangle-size: 10px,
                $triangle-color: color("greys", "lightest"));
            bottom: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
}

.dropdown--quickSearch {
    top: 50px;
    left: 50%;
    width: 100%;
    z-index: 102;
    display: none;
    position: fixed;
    max-width: 770px;
    transform: translateX(-50%);

    .form,
    .form-field {
        margin-bottom: 0;
        position: relative;
    }

    .form-input {
        border: none;
        padding: 5px 50px 5px 15px;
        background-color: #fafafa;
    }

    button[type=submit] {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding: 0;
        border: none;
        border-radius: 0;
        text-align: center;
        position: absolute;
        background-color: transparent;

        .icon {
            width: 50px;
            height: 100%;
            padding: 0 15px;
            line-height: 50px;
        }
    }

    &.is-open {
        display: block;
    }
}

// Counter Pill
// -----------------------------------------------------------------------------
//
// 1. Hardcoded intentionally for precise pixels.
//
// -----------------------------------------------------------------------------

.countPill {
    position: absolute;
    top: -5px;
    right: -10px;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;
    color: $color-white;
    background-color: $color-textBase;
    border-radius: 50%;
    text-align: center;
    font-size: $fontSize-root - 2px;
    font-weight: $fontWeight-normal;

    @media (min-width: 1025px) {
        top: 7px;
        right: -5px;
        color: $color-textBase;
        background-color: $color-white;

        .home-layout-2 & {
            top: 3px;
            right: 0;
        }

        .home-layout-3 & {
            height: 18px;
            width: 18px;
            line-height: 18px;
            top: 5px;
            right: 3px;
        }
    }

    .home-layout-2 & {
        color: $color-white;
        background-color: $color-textBase;
        font-size: $fontSize-root - 4px;
    }

    .home-layout-3 & {
        color: $color-white;
        background-color: $color-textBase;
        font-size: $fontSize-root - 6px;
    }

    &.countPill--positive {
        display: inline-block;
    }

    .page-type-cart & {
        display: inline-block;
    }
}

.countPill--alt {
    background-color: color("greys", "lighter");
    color: color("greys", "darker");
}
