<div class="halo-global-block" data-image-load="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-store-hash-image="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/">
	{{> components/halothemes/sidebar/halo-side-block}}

	{{> components/halothemes/global/halo-newsletter-popup}}

	{{> components/halothemes/ask-an-expert/halo-ask-an-expert}}

	{{> components/halothemes/global/halo-before-you-leave}}

	{{> components/halothemes/global/halo-recently-viewed-products}}

	{{> components/halothemes/header/halo-megamenu}}

	{{#if theme_settings.haloRecentlyBought}}
		<div id="recently_bought_list"></div>
	{{/if}}
</div>
