{{#partial "page"}}
<div class="container--medium">
    <div class="page page-account account-created">
        <div class="page-header">
            <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>
        </div>
        <main class="page-content">
            <p>{{{lang 'create_account.created.intro' store_name=settings.store_name email=customer.email}}}</p>
            <a class="button button--primary" href="{{create_account.continue_url}}">{{lang 'create_account.created.continue'}}</a>
        </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
