{{#if theme_settings.halo-cart-secure-image}}
	<div class="cart-secure-image">
		{{#if theme_settings.halo-cart-secure-image-label}}
		    <div class="secure-image-label">
		        <span>{{theme_settings.halo-cart-secure-image-label}}</span>
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-1}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-1}}" alt="{{theme_settings.halo-cart-secure-image-1}}" title="{{theme_settings.halo-cart-secure-image-1}}">
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-2}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-2}}" alt="{{theme_settings.halo-cart-secure-image-2}}" title="{{theme_settings.halo-cart-secure-image-2}}">
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-3}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-3}}" alt="{{theme_settings.halo-cart-secure-image-3}}" title="{{theme_settings.halo-cart-secure-image-3}}">
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-4}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-4}}" alt="{{theme_settings.halo-cart-secure-image-4}}" title="{{theme_settings.halo-cart-secure-image-4}}">
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-5}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-5}}" alt="{{theme_settings.halo-cart-secure-image-5}}" title="{{theme_settings.halo-cart-secure-image-5}}">
		    </div>
		{{/if}}
		{{#if theme_settings.halo-cart-secure-image-6}}
		    <div class="secure-image">
		        <img class="lazyload" src="{{#if theme_settings.halo_homepage_layout_1}}{{cdn 'img/loading.svg'}}{{else}}{{cdn 'img/loading_2.svg'}}{{/if}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-cart-secure-image-6}}" alt="{{theme_settings.halo-cart-secure-image-6}}" title="{{theme_settings.halo-cart-secure-image-6}}">
		    </div>
		{{/if}}
	</div>
{{/if}}
