{{#if items}}
<div class="accordion-block">
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}" class="accordion-content facetedSearch-content--{{dashcase facet}}{{#unless start_collapsed}} is-open{{/unless}}">
        <ul class="navList">
            {{#each items}}
                <li class="navList-item">
                    <a href="{{url}}"
                       class="navList-action navList-action--rating{{#if selected}} is-selected{{/if}}"
                       rel="nofollow"
                       data-faceted-search-facet>
                        <span class="rating--small">
                            {{> components/products/ratings rating=title}}
                        </span>
                        <span class="text">
                            {{lang 'search.faceted.rating.and-up'}}
                            {{#if ../show_product_counts}}
                                <span>({{count}})</span>
                            {{/if}}
                        </span>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{#if selected}}
            <div class="navView-clear">
                <a href="{{remove_url}}" class="toggleLink toggleLink-clear facetedSearch-clearLink" data-faceted-search-facet>
                    <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.clear'}}</span>
                </a>
            </div>
        {{/if}}
    </div>
</div>
{{/if}}
