{{#if style '==' home3}}
	{{#if theme_settings.halo_recent_post}}
		<div class="halo-block halo-block-post home_below_recent_posts">
			<div class="container container--full">
		        <div class="halo-recent-post halo-row disable-srollbar">
	        		{{#each post}}
		        		<div class="halo-row-slider">
			        		<div class="item">
					            <div class="item-image halo-fadeInUp" data-halo-animate="1">
					                <a class="image-with-overlay" href="{{url}}">
					                    {{> components/common/responsive-img
						                    image=thumbnail
						                    class=""
						                    fallback_size=../theme_settings.recent_blog_size
						                    lazyload=../theme_settings.lazyload_mode
						                    default_image=../theme_settings.default_image_product
						                }}
					                </a>
					            </div>
						        <div class="item-content halo-fadeInUp" data-halo-animate="2">
						        	<div class="content-box">
						        		<span class="subtitle">{{lang 'blog.from_our_blog'}}</span>
							            <h3 class="title">
							                {{#if ../theme_settings.halo_card_title '==' 'ellipsis'}}
								                <a href="{{url}}" style="-webkit-box-orient: vertical;">{{title}}</a>
								            {{else}}
								                <a href="{{url}}">{{title}}</a>
								            {{/if}}
							            </h3>
							            <h4 class="date">{{#if author}}{{author}} - {{/if}}{{date_published}}</h4>
							            {{#if summary}}
								            <div class="summary">
								                {{{summary}}}&hellip;
								            </div>
							            {{/if}}
							            <a class="button button--secondary" href="{{url}}">{{lang 'products.details_link4'}}</a>
						        	</div>
						        </div>
						    </div>
						</div>
					{{/each}}
		        </div>
		        
			</div>
		</div>
		{{{region name="home_below_recent_posts"}}}
	{{/if}}
{{else}}
	{{#if theme_settings.halo_recent_post}}
		<div class="halo-block halo-block-post home_below_recent_posts">
			<div class="container container--full halo-block-post-container">
				<div class="halo-block-header">
	                <div class="content">
	                    <h3 class="title">{{lang 'blog.recent_posts'}}</h3>
	                </div>
	                {{#if theme_settings.halo_recent_post_linkViewAll}}
		                <div class="link">
		                    <a href="{{theme_settings.halo_recent_post_linkViewAll}}" aria-label="{{lang 'blog.read_more'}}"><span>{{lang 'blog.read_more'}}</span></a>
		                </div>
	                {{/if}}
	            </div>
		        <div class="halo-recent-post halo-row disable-srollbar">
	        		{{#each post}}
		        		<div class="halo-row-slider">
		        			<div class="halo-row-item halo-fadeInUp" data-halo-animate="{{add @index 1}}">
				        		<div class="item">
						            <div class="item-image">
						                <a class="image-with-overlay" href="{{url}}">
						                    {{> components/common/responsive-img
							                    image=thumbnail
							                    class=""
							                    fallback_size=../theme_settings.recent_blog_size
							                    lazyload=../theme_settings.lazyload_mode
							                    default_image=../theme_settings.default_image_product
							                }}
						                </a>
						            </div>
							        <div class="item-content">
							            <h3 class="title">
							                {{#if ../theme_settings.halo_card_title '==' 'ellipsis'}}
								                <a href="{{url}}" style="-webkit-box-orient: vertical;">{{title}}</a>
								            {{else}}
								                <a href="{{url}}">{{title}}</a>
								            {{/if}}
							            </h3>
							            <p class="date">{{#if author}}{{lang 'blog.posted_by_2' name=author}} on {{/if}}{{date_published}}</p>
							            {{#if summary}}
								            <div class="summary">
								                {{{summary}}}&hellip;
								            </div>
							            {{/if}}
							        </div>
							    </div>
							</div>
						</div>
					{{/each}}
		        </div>
		        
			</div>
		</div>
		{{{region name="home_below_recent_posts"}}}
	{{/if}}
{{/if}}
