// =============================================================================
// PREVIEW CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

.halo-free-shipping-message {
    padding: 25px 0 0 0;

    .progress-shipping {
        width: 100%;
        height: 7px;
        margin: 0 0 5px 0;
        background-color: #ededed;

        .progress-meter {
            position: relative;
            display: block;
            height: 100%;
            text-align: center;
            animation: 2s linear 0s infinite progress-bar-stripes;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
            background-size: 40px 40px;
            transition: .9s linear;
            transition-property: width, background-color;
        }

        &.progress-shipping-50 {
            .progress-meter {
                background-color: #c12f49;
            }
        }

        &.progress-shipping-90 {
            .progress-meter {
                background-color: #ffc206;
            }
        }

        &.progress-shipping-100 {
            .progress-meter {
                background-color: #69c69c;
            }
        }
    }

    .shipping-message {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        color: #3b3b3b;
        letter-spacing: $letterSpacing-base;
        line-height: 20px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            +span {
                font-style: normal;
            }
        }
    }

    .shipping-message-100 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        color: $color-textSecondary;
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        line-height: 1.75;
        letter-spacing: $letterSpacing-base;
        background: transparent;
    }
}

#previewModal,
#modal {
    .halo-free-shipping-message {
        padding: 0;
        margin: 0 0 25px 0;
    }
}

.previewCart.previewCartPopUp {
    @include grid-row;

    @media (max-width: 767px) {
        .productView {
            padding: 30px 0 0 0;
        }

        .productView-details {
            .productView-title {
                margin-top: 20px;
            }
        }
    }

    @media (min-width: 768px) {
        .productView {
            @include grid-column(9);
            display: flex;
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 0;
        }

        .productView-image {
            @include grid-column(7);
            padding-left: 0;
            display: flex;
            flex-direction: column;
        }

        .productView-image--cart {
            align-self: flex-start;
            margin: 0 auto;
            width: 100%;
        }

        .productView-details {
            @include grid-column(5);
        }
    }

    .productView-title {
        margin-top: 0;
    }

    .previewCartCheckout {
        background: container("fill", "dark");
        padding: spacing("base");
        text-align: center;

        @media (min-width: 768px) {
            @include grid-column(3, $float: right);
            padding: spacing("single");
        }

        .button {
            display: block;
            margin: 0;
            width: 100%;

            // scss-lint:disable NestingDepth
            +p {
                margin-top: spacing("half");
            }

            &:not(:last-child) {
                margin-bottom: spacing("half");
            }
        }
    }

    .previewCartCheckout-price {
        display: block;
        font-size: fontSize("largest");
        font-weight: bold;
        text-align: center;
    }

    .previewCartCheckout-subtotal {
        display: block;
        margin-bottom: spacing("single");
        margin-top: spacing("single");
    }

    .previewCartCheckout-additionalCheckoutButtons {
        p {
            // scss-lint:disable ImportantRule
            float: none !important; // 1
            margin: spacing("third") 0;
        }

        .CheckoutButton {
            margin-bottom: spacing("base");

            &:first-child {
                margin-top: spacing("single");
            }

            &:last-child {
                margin-bottom: spacing("single");
            }
        }
    }

    .suggestiveCart {
        display: none;
        text-align: center;

        @include breakpoint("medium") {
            display: block;
        }
    }
}

.dropdown-cart {
    display: none;
    position: absolute;

    @media (min-width: 1025px) {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        padding: 0;
        z-index: 20;
        text-align: left;
        border-radius: 3px;
        width: 430px;
        background-color: $color-white;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.01);

        &:before {
            border: inset 10px;
            content: "";
            display: block;
            height: 0;
            width: 0;
            border-color: transparent transparent $color-greyLighter transparent;
            border-bottom-style: solid;
            top: -20px;
            left: auto;
            right: 16px;
            position: absolute;
            z-index: 6;
        }

        &:after {
            border: inset 10px;
            content: "";
            display: block;
            height: 0;
            width: 0;
            border-color: transparent transparent white transparent;
            border-bottom-style: solid;
            top: -18px;
            left: auto;
            right: 16px;
            position: absolute;
            z-index: 6;
        }
    }
}

.openCartDropdown {
    @media (min-width: 1025px) {
        #cart-preview-dropdown.dropdown-cart {
            display: block;

            &.is-loading {
                min-height: 100px;

                .loadingOverlay {
                    &:before {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.openCartDropdown2 {
    @media (min-width: 1025px) {
        #cart-preview-dropdown-2.dropdown-cart {
            display: block;

            &.is-loading {
                min-height: 100px;

                .loadingOverlay {
                    &:before {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.previewCartHeader {
    padding: 0 0 15px;

    .text {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        line-height: 20px;
        letter-spacing: $letterSpacing-base;
        display: inline-block;
    }

    +.halo-free-shipping-message {
        padding: 0;
    }
}

.previewCart {
    margin: 0;

    .previewCartList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 400px);

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background: #a6a6a6;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #787878;
        }
    }

    .previewCartItem {
        display: block;
        max-width: 100%;
        line-height: unset;
        padding: 25px 0;
        font-size: 0;
        margin: 0;
        letter-spacing: 0;
        border: 0;

        &:last-child {
            padding-bottom: 50px;
            border-bottom: 1px solid $color-custom-grey;
        }
    }

    .previewCartItem-image {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        padding: 0;
        position: relative;
        text-align: center;
        @include lazy-loaded-padding('productcartthumb_size');

        img {
            @include lazy-loaded-img;
        }
    }

    .previewCartItem-content {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 100px);
        padding: 0 0 0 22px;
        position: relative;
        top: 7px;
        text-align: left;
    }

    .previewCartItem-name {
        overflow-wrap: break-word;
        margin: 0 0 7px 0;
        position: relative;
        top: -5px;

        >a {
            font-family: $fontFamily-sans;
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            color: $color-textBase;
            letter-spacing: $letterSpacing-base;
            margin: 0;
            line-height: 20px;
            text-transform: capitalize;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: stencilString('halo_card_title-line');
            text-overflow: ellipsis;

            @media (min-width: 1025px) {
                &:hover {
                    span {
                        background-image: linear-gradient(transparent 97%, $color-textBase 3%);
                        background-repeat: repeat-x;
                        background-position-y: -2px;

                        .home-layout-2 &,
                        .home-layout-3 &,
                        .home-layout-4 & {
                            background-position-y: 0;
                        }
                    }
                }
            }
        }
    }

    .previewCartItem-options {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0 30px 0 0;
        width: auto;
    }

    .previewCartItem-variant {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        line-height: 20px;
        color: #616161;
        text-transform: capitalize;
        display: block;
        width: 100%;
        margin: 0 0 7px 0;

        span {
            +span {
                &:before {
                    content: '/';
                    margin: 0 4px 0 0;
                }
            }
        }
    }

    .previewCartItem-edit {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: -5px;
        right: 0;

        .icon {
            width: 16px;
            height: 16px;
            fill: #888888;
        }

        @media(min-width: 1025px) {
            &:hover {
                .icon {
                    fill: $color-textBase;
                }
            }
        }
    }

    .previewCartItem-price {
        font-size: $fontSize-root;
        font-weight: $fontWeight-semibold;
        line-height: 20px;
        color: $color-textBase;
        letter-spacing: $letterSpacing-base;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin: 4px 0 0 0;

        p {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            color: $color-textSecondary;
            letter-spacing: $letterSpacing-base;
            line-height: 20px;
            margin: 0;
            text-transform: capitalize;
        }
    }

    .previewCartItem-qty {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 130px;
        margin: 17px 0 0 0;
        padding: 0;
        position: relative;

        .form-label {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            margin: 0;
            padding: 0;
            color: $color-textBase;
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;

            @media (max-width: 550px) {
                display: block;
                margin-bottom: 10px;
            }
        }

        .form-increment {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 30px);

            .form-input--incrementTotal {
                text-align: center;
                width: 100%;
                padding: 5px;
                border: 1px solid $color-greyLighter;
                font-weight: $fontWeight-normal;
                font-size: $fontSize-root;
                font-style: normal;
                min-height: unset;
                height: 50px;
                color: $color-textSecondary;
            }
        }
    }

    .previewCartItem-remove {
        position: absolute;
        margin: 0;
        top: auto;
        transform: unset;
        bottom: 18px;
        left: auto;
        right: 0;
        line-height: 1;
        display: block;
        height: auto;
        width: auto;
        transition: unset;
        padding: 0;
        @include clearfix;

        svg {
            width: 15px;
            height: 15px;
            margin: 0;
            fill: $color-custom-greyDarker;
        }

        @media(min-width: 1025px) {
            &:hover {
                svg {
                    fill: $color-textBase;
                }
            }
        }
    }

    .previewCartTotalsPrice {
        list-style: none;
        margin: 0;
        padding: 20px 0 12px;
    }

    .previewCartTotals {
        display: block;
        font-size: 0;
        padding: 0;
        letter-spacing: 0;
        margin-bottom: 10px;
        @include clearfix;

        .previewCartTotals-label {
            display: inline-block;
            vertical-align: top;
            width: 120px;
            text-align: left;
            color: $color-textBase;
            font-size: $fontSize-root;
            font-weight: $fontWeight-medium;
            line-height: 24px;
            letter-spacing: $letterSpacing-base;
            text-transform: none;
        }

        .previewCartTotals-value {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 120px);
            text-align: right;
            color: $color-textBase;
            font-size: $fontSize-root;
            font-weight: $fontWeight-semibold;
            letter-spacing: $letterSpacing-base;
            line-height: 24px;
        }

        &.grandTotal {
            .previewCartTotals-label {
                font-size: $fontSize-root + 2px;
            }

            .previewCartTotals-value {
                font-size: $fontSize-root + 2px;
                padding: 0;
                top: -1px;
            }
        }
    }

    .previewCartAction {
        border: 0;
        display: block;
        font-size: 0;
        letter-spacing: 0;
        padding: 3px 0 0 0;
        margin: 0;
        width: auto;

        .previewCartAction-checkout,
        .previewCartAction-viewCart {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding: 0;
        }

        .previewCartAction-viewCart {
            margin: 25px 0 0 0;
        }

        .button {
            margin: 0;
            padding: 0;
            width: 100%;
            text-transform: uppercase;
            height: 50px;
            line-height: 48px;
        }
    }

    .productView-info {
        > :first-child {
            margin-top: 0;
        }
    }

    .productView-info {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;

        .productView-info-name {
            min-width: 65px;
            font-weight: 700;
            letter-spacing: 0;
            text-align: left;
            width: auto;
        }

        .productView-info-value {
            margin-bottom: 2px;
            padding-left: 0;
        }

        .productView-info-name,
        .productView-info-value {
            float: left;
            font-family: $body-font-family;
            font-size: 14px;
            text-transform: capitalize;
        }
    }

    .productView-title {
        margin-top: 0;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .productView-brand {
        text-transform: capitalize;
        margin-bottom: 9px;
    }

    .productView-price {
        font-size: 15px;

        @media (min-width: 1024px) {
            font-size: 20px;
        }
    }

    &.previewCart2 {
        padding: 0;
        display: block;
        font-size: 0;
        letter-spacing: 0;

        .halo-free-shipping-message {
            padding-top: 0;
            padding-bottom: 30px;
        }

        .previewCartView {
            .productView-brand {
                margin-bottom: 0;
            }

            .productView-title {
                font-size: $fontSize-root;
            }
        }
    }

    @media (min-width: 551px) {
        .previewCartItem-qty {
            max-width: 193px;

            .form-label {
                width: 75px;
            }

            .form-increment {
                width: calc(100% - 88px);

                .form-input--incrementTotal {
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }

    @media (min-width: 1025px) {
        .previewCartItem-remove {
            &:hover {
                svg {
                    fill: stencilColor('color-textBase');
                }

                span {
                    color: #ce2b1e;
                    background-image: linear-gradient(transparent 97%, #ce2b1e 3%);
                    background-repeat: repeat-x;
                    background-position-y: 0;
                }
            }
        }
    }
}

.previewCart-emptyBody {
    display: block;
    font-size: $fontSize-root;
    font-weight: $fontWeight-normal;
    letter-spacing: $letterSpacing-base;
    color: $color-textSecondary;
    margin: 0;
    text-align: center;
    padding: 35px 0 5px;
    border: 1px solid transparent;
}

.previewCartView {
    display: block;
    width: 100%;
    text-align: center;

    .productView-image {
        display: inline-block;
        vertical-align: top;
        width: 100px;
    }

    .productView-details {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 100px);
        padding: 0 0 0 15px;
        text-align: left;
        float: none;
    }

    .productView-brand {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        letter-spacing: $letterSpacing-base;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0 0 2px 0;
    }

    .productView-title {
        font-family: $fontFamily-sans;
        font-size: $fontSize-root + 4px;
        font-weight: $fontWeight-bold;
        color: $card-title-color;
        line-height: 32px;
        letter-spacing: $letterSpacing-base;
        margin-top: 0;
        margin-bottom: 0;
    }

    .productView-price {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        letter-spacing: $letterSpacing-base;
        margin: 0 0 5px 0;
    }

    .productView-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        +.productView-info {
            margin-top: 4px;
        }
    }

    .productView-info-name,
    .productView-info-value {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        letter-spacing: $letterSpacing-base;
        color: $color-textSecondary;
        line-height: 28px;
        margin: 0;
    }

    .productView-info-value {
        margin: 0 0 0 5px;
    }

    @media (min-width: 551px) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 15px 0 0;

        .productView-info {
            justify-content: flex-start;
        }
    }

    @media (min-width: 768px) {
        width: calc(100% - 280px);
        padding-right: 50px;

        .productView-image {
            width: 170px;
        }

        .productView-details {
            width: calc(100% - 170px);
            padding-left: 30px;
        }
    }

    @media (min-width: 992px) {
        padding-right: 20px;
    }
}

.previewCartCheckout {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;

    .button {
        display: block;
        margin: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;

        +.button {
            margin-top: 20px;
        }
    }

    .previewCartCheckout-additionalCheckoutButtons {
        p {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            text-transform: uppercase;
            color: $color-textSecondary;
            margin: 0 0 8px 0;
        }

        .CheckoutButton {
            margin-bottom: spacing("base");

            &:first-child {
                margin-top: 13px;
            }

            &:last-child {
                margin-bottom: spacing("single");
            }
        }
    }

    .previewCartCheckout-subtotal {
        display: block;
        margin: 37px 0 0 0;
        border: 1px solid #c5c5cf;
        border-radius: 0;

        .previewCartCheckout-price {
            display: block;
            font-size: $fontSize-root + 4px;
            font-weight: $fontWeight-bold;
            line-height: 32px;
            letter-spacing: $letterSpacing-base;
            text-align: center;
            position: relative;
            top: -10px;
            margin: 0 0 7px 0;
            color: $color-textBase;
        }

        span {
            display: inline-block;
            vertical-align: top;
            background: $color-white;
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            letter-spacing: $letterSpacing-base;
            line-height: 1.75;
            position: relative;
            top: -15px;
            padding: 0 20px;
            color: $color-textSecondary;
        }

        p {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            line-height: 1.75;
            letter-spacing: $letterSpacing-base;
            color: $color-textSecondary;
            margin: 0;
        }
    }

    [data-cart-quantity] {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        line-height: 1.75;
        letter-spacing: $letterSpacing-base;
        color: $color-textSecondary;
        margin: 15px 0 20px 0;
    }

    .previewCartCheckout-text {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        letter-spacing: $letterSpacing-base;
        line-height: 1.75px;
        text-transform: uppercase;
    }

    &.previewCartCheckout2 {
        width: 100%;
        text-align: center;

        .button {
            width: auto;

            +.button {
                margin-top: 15px;
            }
        }
    }

    @media (min-width: 768px) {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 0 0 15px;
    }
}

.suggestiveCart {
    display: none;
    text-align: center;

    @media (min-width: 1025px) {
        display: block;
    }
}

// Quick Edit Cart
// -----------------------------------------------------------------------------

.product-edit-wrapper {
    display: block;

    .product-edit-item {
        display: block;
        padding: 35px 0;
        margin: 0 40px;

        .product-edit-itemLeft {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 0;
            width: 100%;
        }

        .product-edit-itemRight {
            display: block;
            width: 100%;
            padding: 0;
            margin: 30px 0 0 0;
        }

        +.product-edit-item {
            border-top: 1px solid $color-custom-grey;
        }

        &:first-child {
            padding-top: 32px;
        }
    }

    .product-edit-image {
        display: block;
        width: 100px;
        margin: 0 15px 0 0;
        position: relative;

        img {
            width: 100%;
        }

        .link {
            position: absolute;
            top: -16px;
            left: -16px;
            border-radius: 50%;
            background: #000;
            width: 32px;
            height: 32px;
            padding: 10px;

            .icon {
                display: block;
                width: 100%;
                height: 100%;
                fill: $color-white;
            }
        }
    }

    .product-edit-content {
        display: block;
        width: calc(100% - 115px);
        margin-bottom: -5px;

        .product-edit-title {
            display: block;
            margin: -6px 0 0 0;


            span,
            .subtitle {
                display: none;
                font-family: $fontFamily-sans;
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                letter-spacing: $letterSpacing-base;
                line-height: 20px;
                color: $color-textSecondary;
                position: relative;
            }

            a {
                font-family: $fontFamily-sans;
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                letter-spacing: $letterSpacing-base;
                line-height: 1.75;
                color: $color-textSecondary;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: stencilString('halo_card_title-line');
                text-overflow: ellipsis;
                text-decoration: none;
                text-transform: capitalize;
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }

        .product-edit-variant {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            color: $color-textBase;
            line-height: 20px;
            letter-spacing: $letterSpacing-base;
            margin: 0 0 7px 0;
            padding: 0;
            text-transform: capitalize;
            opacity: 0.7;

            span {
                display: inline;

                +span {
                    margin-left: 4px;

                    &:before {
                        content: '/';
                        margin: 0 4px 0 0;
                    }
                }
            }
        }

        .product-edit-price {
            display: block;
            font-size: 0;
            letter-spacing: 0;
            margin: 9px 0 0 0;
            position: relative;

            .price-section {
                font-size: $fontSize-root;
                font-weight: $fontWeight-semibold;
                line-height: 25px;
                color: $color-textSecondary;

                &.price-section--withoutTax {
                    color: stencilColor('sale_price_color');
                }

                &.rrp-price--withoutTax {
                    margin: 0 0 5px 0;
                }

                &.non-sale-price--withoutTax {
                    display: inline-block;
                    vertical-align: bottom;
                    color: $color-textSecondary;
                    margin: 0 13px 0 0;

                    +.price-section--withoutTax {
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }

                &.price-none {
                    margin: 0;

                    +.price-section--withoutTax {
                        margin-left: 13px;
                        color: $color-textSecondary;
                    }

                    &[style="display: none;"] {
                        +.price-section--withoutTax {
                            margin-left: 0;
                        }
                    }
                }
            }

            .price--non-sale {
                font-weight: $fontWeight-semibold;
            }

            >p {
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                font-style: italic;
                line-height: 1.75;
                letter-spacing: $letterSpacing-base;
                color: $color-textSecondary;
                margin-bottom: 0;
            }

            .price-section--saving {
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                font-style: italic;
                line-height: 28px;
                letter-spacing: $letterSpacing-base;
                color: $color-textSecondary;
                margin: 5px 0 0 0;
            }
        }

        .product-edit-increment {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            max-width: 130px;
            margin: 15px 0 0 0;
            padding: 0;
            position: relative;
            font-size: 0;
            letter-spacing: 0;

            .form-label {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                margin: 0;
                padding: 0;
                color: $color-textSecondary;
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                margin: 0 0 10px 0;
            }

            .form-increment {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 30px);
                font-style: normal;

                .form-input--incrementTotal {
                    text-align: center;
                    width: 100%;
                    padding: 5px;
                    border: 1px solid $color-greyLighter;
                    font-weight: $fontWeight-normal;
                    font-size: $fontSize-root;
                    font-style: normal;
                    min-height: unset;
                    height: 50px;
                    color: $color-textSecondary;
                }
            }
        }

        .product-action {
            display: block;
            position: relative;
            margin-left: 20px;
            margin-top: 22px;

            .text {
                background-image: linear-gradient(transparent 97%, #4c4c4c 3%);
                background-repeat: repeat-x;
                background-position-y: -3px;
                color: $color-textBase;

                .home-layout-2 &,
                .home-layout-3 &,
                .home-layout-4 & {
                    background-position-y: 0;
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    line-height: 22px;
                    background-color: $color-textBase;
                }

                &:before {
                    top: 12px;
                    right: calc(100% + 9px);
                    width: 12px;
                    height: 2px;
                }

                &:after {
                    top: 7px;
                    right: calc(100% + 14px);
                    width: 2px;
                    height: 12px;
                }
            }
        }
    }

    .product-edit-remove {
        display: block;
        width: 100%;
        margin: 15px 0 0 0;
        text-align: center;

        .button {
            min-width: 150px;
        }
    }

    .product-edit-change {
        display: block;

        .form {
            margin: 0;
            padding: 0;
        }

        .form-field {
            display: block;
            letter-spacing: 0;
            font-size: 0;
            margin: 0;
            padding: 0;

            >.form-label {
                display: flex;
                align-items: center;
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                letter-spacing: $letterSpacing-base;
                line-height: 20px;
                color: $color-textBase;
                margin-bottom: 13px;

                small {
                    display: block;
                    color: inherit;
                    line-height: inherit;
                    margin: 0;
                    float: none;
                    color: #ea625e;
                }

                [data-option-value] {
                    font-size: $fontSize-root;
                    font-weight: $fontWeight-normal;
                    font-style: italic;
                    line-height: 20px;
                    letter-spacing: $letterSpacing-base;
                    color: $color-textBase;
                    text-transform: capitalize;
                    margin: 0 0 0 3px;
                }
            }

            +.form-field {
                margin-top: 20px;
            }
        }
    }

    .product-edit-optionsStock {
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        line-height: 20px;
        letter-spacing: $letterSpacing-base;
        color: stencilColor('sale_price_color');
        margin: 7px 0 0 0;
    }

    .product-edit-message {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .product-edit-itemFirst {
        .product-edit-content {
            .product-edit-title {
                margin-top: -10px;

                span,
                .subtitle {
                    display: inline-block;
                    vertical-align: middle;
                    background-image: linear-gradient(transparent 97%, $color-textLink-hover 3%);
                    background-repeat: repeat-x;
                    background-position-y: -1px;

                    &+span {
                        font-size: $fontSize-root;
                    }
                }
            }
        }
    }

    @media (min-width: 551px) {
        .product-edit-content {
            .product-edit-increment {
                max-width: 193px;

                .form-label {
                    width: 75px;
                    margin-bottom: 0
                }

                .form-increment {
                    width: calc(100% - 88px);
                }
            }
        }
    }

    @media (min-width: 768px) {
        .product-edit-item {
            display: flex;
            align-items: flex-start;

            .product-edit-itemLeft {
                padding-right: 15px;
                width: 50%;
            }

            .product-edit-itemRight {
                width: 50%;
                margin-top: 0;
                padding-left: 15px;
            }
        }
    }

    @media (min-width: 1025px) {
        .product-edit-image {
            .link {
                &:hover {
                    background-color: #666;

                    .icon {
                        fill: $color-white;
                    }
                }
            }
        }
    }
}

.product-edit-action {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-white;
    z-index: 20;
    padding: 0 40px 40px 40px;

    .product-add-more {
        padding: 12px 0;
        border-top: 1px solid $color-custom-grey;

        .link {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            text-transform: unset;
            letter-spacing: 0;
            line-height: 30px;
            position: relative;
            margin: 0 0 0 20px;
            padding: 0;
            color: $color-textLink;
            transition: unset;

            .text {
                background-image: linear-gradient(transparent 97%, $color-textLink 3%);
                background-repeat: repeat-x;
                background-position-y: -3px;

                .home-layout-2 &,
                .home-layout-3 &,
                .home-layout-4 & {
                    background-position-y: 0;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                width: 12px;
                height: 2px;
                right: calc(100% + 9px);
                background-color: $color-textLink;
            }

            &:after {
                content: "";
                position: absolute;
                top: 5px;
                width: 2px;
                height: 12px;
                right: calc(100% + 14px);
                background-color: $color-textLink;
            }
        }
    }

    .product-edit-button {
        .button {
            width: 100%;
            text-transform: uppercase;
            margin-bottom: 0;
            border-radius: 0;

            &:before {
                content: '';
                display: none;
                width: 20px;
                height: 20px;
                border: 2px solid $color-white;
                border-radius: 100%;
                border-top: 2px solid transparent;
                -webkit-animation: load-animate infinite linear 1s;
                animation: load-animate infinite linear 1s;

                @media(min-width: 1025px) {
                    border-color: $color-textSecondary;
                }
            }

            &.loading {
                pointer-events: none;
                font-size: 0;

                &:before {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &[disabled] {
                pointer-events: none;
            }
        }
    }

    @media (min-width: 1025px) {
        .product-add-more {
            .link {
                &:hover {
                    .text {
                        color: $color-textLink-hover;
                        background-image: linear-gradient(transparent 97%, $color-textLink-hover 3%);
                        background-repeat: repeat-x;
                        background-position-y: -3px;

                        .home-layout-2 &,
                        .home-layout-3 &,
                        .home-layout-4 & {
                            background-position-y: 0;
                        }
                    }

                    &:after,
                    &:before {
                        background: $color-textLink-hover;
                    }
                }
            }
        }
    }
}
