<div class="alertBox alertBox--error productAttributes-message" style="display:none">
    <div class="alertBox-column alertBox-icon">
        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
    </div>
    <p class="alertBox-column alertBox-message"></p>
</div>
<div class="productView-actions">

     <div class="ncon">
        <div class="productView-price">
                        {{#or customer (unless settings.hide_price_from_guests)}}
                            {{> components/products/price price=product.price}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                        {{#if product.call_for_price}}
                            <p><span>{{product.call_for_price}}</span></p>
                        {{/if}}
                        </div>



    <div class="form-field form-field--increments">
       
        <div class="form-increment" data-quantity-change>
            <button class="button button--icon" data-action="dec">
                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
            </button>
            <input class="form-input form-input--incrementTotal"
                id="qty[]"
                name="qty[]"
                type="number"
                value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                data-quantity-min="{{product.min_purchase_quantity}}"
                data-quantity-max="{{product.max_purchase_quantity}}"
                min="1"
                pattern="[0-9]*"
                aria-live="polite"
            >
            <button class="button button--icon" data-action="inc">
                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
            </button>
        </div>
    </div>

   </div>




    <div class="form-actionFix">
        {{#or customer (unless settings.hide_price_from_guests)}}
            <div class="form-action" role="status" aria-live="polite">
                <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--secondary" type="submit"
                    value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}" {{#if product.can_purchase}}{{else}}disabled {{/if}}>
            </div>
        {{else}}
            <div class="form-action">
                <span class="form-action-text">
                    <span class="text">{{lang 'common.restrict_to_login'}}</span>
                </span>
            </div>
        {{/or}}
    </div>
</div>
{{#or customer (unless settings.hide_price_from_guests)}}
    {{#if theme_settings.halo_buy_it_now}}
        <div class="productView-actions productView-actions--buyItNow">
            <div class="form-action form-action--buyItNow">
                <input id="form-action-buyItNow" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary button--buyItNow" type="submit"
                value="{{lang 'products.buy_it_now'}}">
            </div>
        </div>
    {{/if}}
{{/or}}
{{#or customer (unless settings.hide_price_from_guests)}}
    {{#if this.with_wallet_buttons}}
        <div class="add-to-cart-wallet-buttons" data-add-to-cart-wallet-buttons>
            {{> components/common/wallet-buttons}}
        </div>
    {{/if}}
{{/or}}

