{{inject "isProductCardPresented" true}}

<article
    class="card
    {{#if alternate}} card--alternate{{/if}}card-text
    {{#and (if images.length '>=' 2) (if theme_settings.halo_card_image_swap)}} card-hover{{/and}}"
    data-test="card-{{id}}"
    data-product-id="{{id}}"
    data-event-type="{{event}}"
    data-entity-id="{{id}}"
    data-position="{{position}}"
    data-name="{{name}}"
    data-product-category="
    {{#each category}}
        {{#if @last}}
            {{this}}
        {{else}}
            {{this}},
        {{/if}}
    {{/each}}"
    data-product-brand="{{brand.name}}"
    data-product-price="
    {{#if price.with_tax}}
        {{price.with_tax.value}}
    {{else}}
        {{price.without_tax.value}}
    {{/if}}"
>
    <figure class="card-figure">
        {{#if theme_settings.halo-label-product}}
            <div class="halo-badges halo-badges-{{theme_settings.halo-label-product-position}}">
                {{#each productsnew}}
                    {{#if id '==' ../id}}
                        <div class="new-badge halo-badge">
                            <span class="text">{{lang 'products.new_label'}}</span>
                        </div>
                    {{/if}}
                {{/each}}
                {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
                    <div class="sale-badge halo-badge">
                        {{#if theme_settings.sale_badges_type '==' 'percent'}}
                            {{#if price.non_sale_price_with_tax}}
                                <span class="text">{{lang 'products.sale_label'}}{{round (subtract 100 (multiply (divide price.with_tax.value price.non_sale_price_with_tax.value) 100)) 0}}%</span>
                            {{/if}}
                            {{#if price.non_sale_price_without_tax}}
                                <span class="text">{{lang 'products.sale_label'}}{{round (subtract 100 (multiply (divide price.without_tax.value price.non_sale_price_without_tax.value) 100)) 0}}%</span>
                            {{/if}}
                        {{else}}
                            <span class="text">{{lang 'common.badge_sale'}}</span>
                        {{/if}}
                    </div>
                {{/or}}
                {{#each custom_fields}}
                    {{#if name '===' '__customlabel'}}
                        <div class="custom-badge halo-badge">
                            <span class="text">{{{value}}}</span>
                        </div>
                    {{/if}}
                {{/each}}
                {{#if out_of_stock_message}}
                    <div class="soldOut-badge halo-badge">
                        <span class="text">{{lang 'products.sold_out_label'}}</span>
                    </div>
                {{/if}}
            </div>
        {{/if}}
        <a href="{{url}}"
           class="card-figure__link card-link"
           aria-label="{{name}},{{> components/products/product-aria-label}}"
           data-event-type="product-click"
        >
            <div class="card-img-container{{#if images.length '<' 1}} card-img-container2{{/if}}">
                {{#unless images.length '<' 1}}
                    {{> components/common/responsive-img
                        image=image
                        class="card-image"
                        fallback_size=theme_settings.productgallery_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                    }}
                    {{#and (if images.length '>=' 2) (if theme_settings.halo_card_image_swap)}}
                        {{#each images}}
                            {{#if @index '==' 1}}
                                <span class="card-image-2">
                                    {{> components/common/responsive-img
                                        image=this
                                        class=""
                                        fallback_size=../../theme_settings.productgallery_size
                                        lazyload=../../theme_settings.lazyload_mode
                                        default_image=../../theme_settings.default_image_product
                                    }}
                                </span>
                            {{/if}}
                        {{/each}}
                    {{/and}}
                {{else}}
                    {{> components/common/responsive-img
                        image=image
                        class="card-no-image"
                        fallback_size=theme_settings.productgallery_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                    }}
                {{/unless}}
            </div>
        </a>

        <figcaption class="card-figcaption">
            <div class="card-figcaption-top">
                {{#if settings.show_wishlist}}
                    <button href="/wishlist.php?action=add&product_id={{id}}" class="wishlist button{{#if theme_settings.show_product_wishlist_mobile}} show-mobile{{/if}}" aria-label="Wishlist">
                        <span class="text">{{lang 'account.wishlists.add'}}</span>
                        <span class="icon-wrapper"><svg class="icon"><use xlink:href="#icon-wishlist"/></svg></span>
                    </button>
                {{/if}}
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <button class="button quickview{{#if theme_settings.show_product_quick_view_mobile}} show-mobile{{/if}}" data-event-type="product-click" data-product-id="{{id}}" aria-label="Quick View">
                            <span class="text">{{lang 'products.quick_view'}}</span>
                            <span class="icon-wrapper"><svg class="icon"><use xlink:href="#icon-quick-view"/></svg></span>
                        </button>
                    {{/if}}
                {{/unless}}
            </div>
            {{#if theme_settings.halo_homepage_layout_3}}
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{#if show_cart_action}}
                        <div class="card-figcaption-bottom">
                            {{#if has_options}}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                            {{/if}}
                            {{#if pre_order}}
                                <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary card-figcaption-button">{{lang 'products.pre_order'}}</a>
                            {{/if}}
                            {{#if add_to_cart_url }}
                                <a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--primary card-figcaption-button halo-add-to-cart" data-product-id="{{id}}" data-wait-message="{{lang 'products.adding_to_cart'}}">{{lang 'products.add_to_cart'}}</a>
                                <span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                            {{/if}}
                            {{#if out_of_stock_message }}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button button--outOfStock" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                            {{/if}}
                            {{#if theme_settings.haloAddOptionForProduct}}
                                <div class="card-option card-option-{{id}}">
                                    <div class="form-field"></div>
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/or}}
            {{else}}
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{#if show_cart_action}}
                        <div class="card-figcaption-bottom">
                            {{#if has_options}}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                            {{/if}}
                            {{#if pre_order}}
                                <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary card-figcaption-button">{{lang 'products.pre_order'}}</a>
                            {{/if}}
                            {{#if add_to_cart_url }}
                                <a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--primary card-figcaption-button halo-add-to-cart" data-product-id="{{id}}" data-wait-message="{{lang 'products.adding_to_cart'}}">{{lang 'products.add_to_cart'}}</a>
                                <span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                            {{/if}}
                            {{#if out_of_stock_message }}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button button--outOfStock" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/or}}
            {{/if}}
        </figcaption>
    </figure>

     <a class="card-mta" href="{{url}}">Product meta</a>




    <div class="card-body">
        {{#if theme_settings.halo_homepage_layout_2}}
            {{#if theme_settings.haloAddOptionForProduct}}
                <div class="card-option card-option-{{id}}">
                    <div class="form-field"></div>
                </div>
            {{/if}}
        {{/if}}

        
        {{#if theme_settings.halo_homepage_layout_4}}
            <div class="card-wrapper">
                {{#and (if brand.name) (if theme_settings.halo_card_brand)}}
                    <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
                {{/and}}
                {{#and (if settings.show_product_rating) (if theme_settings.halo_card_ratings)}}
                    <p class="card-text" data-test-info-type="productRating">
                        <span class="rating--small">
                            {{> components/products/ratings rating_target=name rating=rating}}
                        </span>
                        {{#if num_reviews}}
                            <span class="number-review">({{num_reviews}})</span>
                        {{/if}}
                    </p>
                {{/and}}
            </div>
        {{else}}
            {{#and (if brand.name) (if theme_settings.halo_card_brand)}}
                <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
            {{/and}}
        {{/if}}

        <h3 class="card-title{{#or customer (unless settings.hide_price_from_guests)}}{{#if show_cart_action}}{{#if has_options}}{{#if theme_settings.haloAddOptionForProduct}} has-options{{/if}}{{/if}}{{/if}}{{/or}}">
            {{#if theme_settings.halo_card_title '==' 'ellipsis'}}
                <a aria-label="{{name}},{{> components/products/product-aria-label}}"
                    class="card-ellipsis"
                    href="{{url}}"
                    data-event-type="product-click"
                    style="-webkit-box-orient: vertical;">
                    <span>{{name}}<span class="card-name"></span></span>
                </a>
            {{else}}
                <a aria-label="{{name}},{{> components/products/product-aria-label}}"
                    href="{{url}}"
                    data-event-type="product-click">
                    <span>{{name}}<span class="card-name"></span></span>
                </a>
            {{/if}}
        </h3>

        {{#and (if show_rating) (if theme_settings.halo_card_ratings)}}
            <p class="card-rating-category" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
                {{#if num_reviews}}
                    <span class="number-review">({{num_reviews}})</span>
                {{/if}}
            </p>
        {{/and}}

        {{#if summary}}
            <div class="card-desc">{{{summary}}}</div>
        {{/if}}

        
        {{#if theme_settings.halo_homepage_layout_4}}
            <div class="card-price" data-test-info-type="price">
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        {{else}}
            <div class="card-wrapper">
                <div class="card-price" data-test-info-type="price">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{> components/products/price price=price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{#and (if settings.show_product_rating) (if theme_settings.halo_card_ratings)}}
                    <p class="card-text" data-test-info-type="productRating">
                        <span class="rating--small">
                            {{> components/products/ratings rating_target=name rating=rating}}
                        </span>
                        {{#if num_reviews}}
                            <span class="number-review">({{num_reviews}})</span>
                        {{/if}}
                    </p>
                {{/and}}
            </div>
        {{/if}}
        {{> components/products/bulk-discount-rates}}

        {{#or theme_settings.halo_homepage_layout_1 theme_settings.halo_homepage_layout_4}}
            {{#if theme_settings.haloAddOptionForProduct}}
                <div class="card-option card-option-{{id}}">
                    <div class="form-field"></div>
                </div>
            {{/if}}
        {{/or}}

        {{#or customer (unless settings.hide_price_from_guests)}}
            {{#if show_cart_action}}
                <div class="card-figcaption-bottom">
                    {{#if has_options}}
                        <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    {{/if}}
                    {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary card-figcaption-button">{{lang 'products.pre_order'}}</a>
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--primary card-figcaption-button halo-add-to-cart" data-product-id="{{id}}" data-wait-message="{{lang 'products.adding_to_cart'}}">{{lang 'products.add_to_cart'}}</a>
                        <span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                    {{/if}}
                    {{#if out_of_stock_message }}
                        <a href="{{url}}" data-event-type="product-click" class="button button--primary card-figcaption-button button--outOfStock" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                </div>
            {{/if}}
        {{/or}}

        {{#if show_compare}}
            <div class="card-compare">
                <input type="checkbox" name="products[]" value="{{id}}" id="compare-2-{{id}}" data-compare-id="{{id}}">
                <label class="compare" for="compare-2-{{id}}"><span>{{lang 'products.compare'}}</span></label>
            </div>
        {{/if}}
    </div>
</article>
