<ul class="productListing{{#if theme_settings.product_list_display_mode '===' 'grid'}} productGrid{{else}} productList{{/if}} col-{{theme_settings.product_list_display_col}}">
    {{#each products}}
    <li class="product">
            {{>components/products/card productsnew=../productsnew settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
    </li>
    {{/each}}
</ul>
