{{#or (if theme_settings.halo_homepage_layout_1) (if theme_settings.halo_homepage_layout_4)}}
    <div class="halo-block halo-block-product" id="halo-related-products">
        <div class="container">
            <div class="halo-block-header">
                <h2 class="title">{{title}}</h2>
            </div>
            {{> components/products/carousel
                products=products
                productsnew=productsnew
                block_id=block_id
                block_limit=block_limit
                block_column=block_column
                list="Related Products"
            }}
        </div>
    </div>
{{else}}
    <div class="halo-block halo-block-product" id="halo-related-products">
        <div class="container container--full">
            <div class="halo-block-header">
                <h2 class="title">{{title}}</h2>
            </div>
            {{> components/products/carousel
                products=products
                productsnew=productsnew
                block_id=block_id
                block_limit=block_limit
                block_column=block_column
                show_dots_bar="true"
                list="Related Products"
            }}
            <div class="progress" role="progressbar" aria-label="Progress Bar" aria-valuemin="0" aria-valuemax="100" data-bars>
                <div class="bar-thumb"></div>
            </div>
        </div>
    </div>
{{/or}}
