<div class="productView-reviews-wrapper productReviews">
    {{#if reviews.total}}
        <div class="productReview-total">
            <span>
                {{lang 'products.reviews.link_to_review' total=reviews.total}}
            </span>
        </div>
        <ul class="productReviews-list" id="productReviews-list">
            {{#each reviews.list}}
                <li class="productReview">
                    <article>
                        <header>
                            <h5 class="productReview-title">
                                <span class="productReview-title-text">{{{ sanitize title }}}</span>
                                <span class="productReview-rating rating--small">
                                    {{> components/products/ratings rating=rating}}
                                    <span class="productReview-ratingNumber">{{ rating }}</span>
                                </span>
                            </h5>
                            {{#if name}}
                                <meta content="{{name}}">
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=name }}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p class="productReview-body">{{{ sanitize text }}}</p>
                    </article>
                </li>
            {{/each}}
        </ul>
        {{#or pagination.reviews.next pagination.reviews.previous}}
            {{> components/common/paginator pagination.reviews}}
        {{/or}}
        <div class="button-createReview">
            <a class="button button--primary" href="#" data-reveal-id="modal-review-form">{{lang 'products.reviews.write_a_review'}}</a>
        </div>
    {{else}}
        <div class="alertBox alertBox--warning">
            <div class="alertBox-column alertBox-icon">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
            </div>
            <p class="alertBox-column alertBox-message">
                {{lang 'products.reviews.write_a_review_text'}}
            </p>
        </div>
        <div class="button-createReview">
            <a class="button button--primary" href="#" data-reveal-id="modal-review-form">{{lang 'products.reviews.write_a_review'}}</a>
        </div>
    {{/if}}
</div>
