{{#if products}}
    <div class="halo-block halo-block-product">
        <div class="container{{#or theme_settings.halo_homepage_layout_2 theme_settings.halo_homepage_layout_4}} container--full{{/or}}">
            {{#if link}}
                <div class="halo-block-header halo-block-header-wrapper">
                    <h3 class="title">{{title}}</h3>
                    <a class="link" href="{{link}}" aria-label="{{lang 'common.view_all'}}"><span>{{lang 'common.view_all'}}</span></a>
                </div>
            {{else}}
                {{#if title}}
                    <div class="halo-block-header">
                        <h3 class="title">{{title}}</h3>
                    </div>
                {{/if}}
            {{/if}}
            {{#if block_layout}}
                {{> components/products/carousel
                    products=products
                    productsnew=productsnew
                    customArrowClass='js-top-product-arrow'
                    block_id=block_id
                    block_limit=block_limit
                    block_column=block_column
                    show_dots_bar=show_dots_bar
                    list="Most Popular Products"
                }}
            {{else}}
                {{> components/products/no-carousel
                    products=products
                    productsnew=productsnew
                    block_id=block_id
                    block_limit=block_limit
                    block_column=block_column
                    show_dots_bar=show_dots_bar
                    list="Most Popular Products"
                }}
            {{/if}}
            {{#or (if theme_settings.halo_homepage_layout_2) (if theme_settings.halo_homepage_layout_3)}}
                <div class="progress" role="progressbar" aria-label="Progress Bar" aria-valuemin="0" aria-valuemax="100" data-bars>
                    <div class="bar-thumb"></div>
                </div>
            {{/or}}
        </div>
    </div>
{{/if}}
{{#if page_type '==' 'default'}}
    {{{region name="home_below_top_products"}}}
{{/if}}
